[2018-08-16 02:38] midiway opened #1 "How to let it know about Bootstrap CSS classes?"
If I am using Bootstrap via a remote CSS file, like https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css, how do I make your plugin find the CSS classes from it?

Is there some kind of configuration like:
[code]
?

[2018-08-16 13:33] #1 closed

[2018-08-16 13:45] gencer commented on #1
@midiway please test new version.

Refer readme:
[code]

[2018-10-09 05:32] YHF7 opened #2 "css"
Failed to cache the CSS classes in the workspace for the first time: Failed to cache the class definitions during the iterations over the documents that were found: Failed to parse the documents: Cannot read property 'call' of undefined

[2018-10-09 09:44] gencer commented on #2
Hey @YHF7,

I need more information about this.

1. Is it a fresh install without any modification to configs?
2. OS, VSCode versions.
3. Do you also use other SCSS extension at the same time? (from zignd)

Also any console debug info would be awesome if you have.

[2018-10-12 08:32] gencer commented on #2
好的。 祝你有美好的一天！

[2018-10-12 08:32] #2 closed

[2018-10-31 01:46] syedsameerali opened #3 "[Feature Request] Code assistance in CSS/SCSS files"
Dear Gencer, thank you for the excellent work with the html-slim-scss-css-class-completion extension. I was hoping if you could please offer some insight regarding the support for code completion in CSS/SCSS files for class attributes defined in HTML files.

Currently the extension only scans the work-space for class style definitions within CSS/SCSS files.

It does not scan the work-space for cla

[2018-10-31 11:13] gencer commented on #3
Let me try few steps from my end and we can discuss further. But as far as I understand, When you write html attributes like this:

`<div class="my-class">...</div>
`
You expect from CSS/SCSS files to autocomplete like this:

**test.scss**:
`.my # < auto completes my-class`

Thank you,
Gencer.

[2018-11-01 11:52] gencer commented on #3
I think we can do that! Actually, for slim language, I needed this feature, too!

How we going to handle cache? This is another question. I think I can add cache refresh every x minutes or seconds depending user value in settings.

[2018-11-01 12:40] syedsameerali commented on #3
This is great news, Thank you ever so much for your help.

I'm afraid I may not have understood correctly but I have included a video screen capture below with an attempt to describe how the functionality works in other IDE's. In this example a comparison with the Net-beans IDE. (Thumbnail Below is a YouTube link) @Time: 1:25 Netbeans CSS/SCSS Code assistance Feature.

[![Youtube Video Feature Req

[2018-11-01 12:46] gencer commented on #3
Yup. We're on the same page. This is exactly what I referred. I will try few cache / live models and update here.

[2018-11-01 13:11] syedsameerali commented on #3
Just out of curiosity, wouldn't it be ideal for the cache to update dynamically on file change or text change, to provide real time coding assistance, without the need for manual intervention or a time interval to update the cache. Or is this something that is not feasible performance wise?

[2018-11-04 12:13] gencer commented on #3
There could be hundreds of CSS/SCSS files in one workspace. Triggering cache warm on each file save/focus, we spend too much time to build whole workspace.

I think 2 options here.

1. We only do this cache update dynamically for HTML files. So, you will get almost instant updates when typing classes from html to scss (thats what you want)
2. We can add crazy option and give user a choice for that

[2018-11-06 05:45] YipingRuan opened #4 "In .vue file, CSS class intellisense may need a leading space to start"
I am not sure if it is only me. If the class is cleared, I need to input a leading space. Only happens in .vue file.

![css](https://user-images.githubusercontent.com/5492274/48045136-02b72300-e1ca-11e8-8684-e1d7703403b9.gif)

[2018-12-10 11:17] gencer commented on #3
@syedsameerali, this feature is in `master` branch. I will release a new version when I complete.

[2018-12-10 11:38] gencer commented on #3
Released in `v1.2.0`

[2018-12-10 11:38] #3 closed

[2018-12-13 13:11] jpablopachar opened #5 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.1.1`
- OS Version: `Linux x64 4.15.0-42-generic`
- VSCode version: `1.30.0`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/jppachar/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/M

[2019-01-09 07:12] KasiMaru opened #6 "Extension autocompletes weird "class" strings in html, js and css"
Extension Version: `1.2.0`
OS Version: `MacOS Mojave x64 v10.14.2`
VSCode version: `1.30.2`

First of all thanks for the awesome extension, it is (was?) a must have for me. Unfortunately, I can't use it now because it's keep autosuggesting me some weird classes and even ugly js expressions from out of nowhere.

Tried with all extensions disabled, manually recaching, in html/css/jsx files — issue p

[2019-01-09 07:49] gencer commented on #6
Confirmed.

I'm on it. I will provide a fix as soon as possible.

[2019-01-09 09:06] gencer commented on #6
@KasiMaru, can you please test this version before I publish on marketplace?

**Note**: I've zipped `vsix` file due to restriction on GitHub.

[html-slim-scss-css-class-completion-1.2.1.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/2740060/html-slim-scss-css-class-completion-1.2.1.zip)

[2019-01-09 09:07] gencer commented on #6
I've found one more issue. Let me fix that before.

[2019-01-09 09:30] KasiMaru commented on #6
@gencer, Works like a charm! Tested both in `.jsx`, `.css` and `.html` file extensions, autocomplete suggestions are exactly what they should be.

Thanks!

[2019-01-09 09:31] gencer commented on #6
I'm happy to hear that. I will publish the new version now.

Thank you for reporting this issue.

Let me know if you encounter any issues.

[2019-01-09 09:31] #6 closed

[2019-01-16 13:30] StuartMc77 opened #7 "Extension causes NG commands to take an extremely long time to run"
I created a new angular 7 CLI application.  All was well, it compiled and ran when I used the` "ng serve" `command from either VS Code's terminal or a Command prompt.

Once the extension was installed (and enabled) running ANY ng commands, i.e. `"ng --version", "ng serve"` etc takes about 10 minutes to complete.

To replicate create a new Angular app using the command line application, run `"ng se

[2019-01-16 13:35] gencer commented on #7
Very interesting. Let me try on my end. At the moment i have no idea.

[2019-01-20 07:14] Nuzairb opened #8 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.2.1`
- OS Version: `Linux x64 4.18.0-13-generic`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/nuzair/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Mic

[2019-01-24 09:38] gencer commented on #8
@Nuzairb, can you kindly help me on this?

1. Do you get this high cpu when you work on HTML/Slim files or all the time from extension loaded?
2. How many html files have you in your workspace? (any closer number will be ok)
3. Is your workspace small or huge?

[2019-02-08 15:21] Kcko opened #9 "Latte & Used locations support?"
Could you please add support for Latte template system? Its similar to html or twig).
My config  "html-css-class-completion.includeGlobPattern": "**/*.{css,scss,sass,latte,html}", but not working :(

[2019-02-08 15:26] gencer commented on #9
This is the first time I heard of Latte. I will try to implement basic support as soon as possible.

I've looked over few samples and its indeed like html/twig. It shouldn't be hard to implement.

I'm on it on this weekend.

[2019-02-08 15:40] Kcko commented on #9
Its a primary template system for NETTE framework (https://latte.nette.org/en/) which wins 3 best PHP framework in the world for year 2015.

Really nothing hard, it has same structure like a HTML langguage with own macros (https://latte.nette.org/en/macros).

Thx for good job & thx for fast reply.

[2019-02-08 15:43] Kcko commented on #9
For future, is there real chance to do autocompletion for SCSS? (autosuggestioning vars, functions, mixins etc?)

Your plugin is solving what Im still missing   in VSC (II've already reported it several times, without change/chance).

[2019-02-08 16:58] gencer commented on #9
Currently SCSS autocompletes classes from CSS, SCSS, HTML and Slim files.

**For** _vars, functions and mixins_. **Yes**, This is possible and In fact I also need them too! But I will first add latte support.

[2019-02-08 18:01] Kcko commented on #9
Great news! I'll look forward to it.

What is still basically missing in vsc is suggesting between 2 environments.

HTML -> CSS (SCSS, LESS ...)
and vice versa
CSS (SCSS, LESS ...) -> HTML

### this probably works (plugin to provide it).

main.scss { .test {color: red; } } // when im here, i will see .test2 selector from other css/scss file
rest.scss {.test2 {color: blue;} } / and vice versa

###

[2019-02-08 18:33] gencer commented on #9
Yes. It is possible. I will be working on it at this weekend. (Tomorrow and other day) If nothing goes wrong.

[2019-02-09 09:38] exv3 opened #10 "By default auto-completion doesn't work"
**OS** version `Windows 7`
**VSCode** version `1.31.0`
**Extension** version `1.2.1`

By default auto-completion doesn't work, besides:
- If I press `space` it does work and I can type my **second** class name which is okay
- If I press `ctrl` + `space` it does work but after pressing `space` and then `backspace` it doesn't anymore

![](https://i.imgur.com/zMkrvJY.gif)

[2019-02-09 09:42] gencer commented on #10
I will fix this. Probably due to new regex matching pattern that I used in last version.

[2019-02-09 09:42] exv3 opened #11 "ID selectors are not detected"
**OS** version `Windows 7`
**VSCode** version `1.31.0`
**Extension** version `1.2.1`

CSS id selectors are not detected and can't be used (auto-completion)

![](https://i.imgur.com/gkGl0YK.gif)

[2019-02-09 09:43] gencer commented on #11
Currently there is no `id` auto-completion availability in this extension. But I will look into this. Thanks for reporting.

[2019-02-09 09:54] exv3 opened #12 "After VSCode restart emmet support doesn't work anymore"
**OS** version `Windows 7`
**VSCode** version `1.31.0`
**Extension** version `1.2.1`

After I restart VSCode emmet support doesn't work anymore and I have to re-enable extension's setting to make it work again.

![](https://i.imgur.com/OBSg1ko.gif)
![](https://i.imgur.com/8nlXTNT.gif)

[2019-02-09 09:57] gencer commented on #12
Thanks for catching this too. I will also look into this.

[2019-02-09 10:19] exv3 opened #13 "Pressing space always suggest HTML5 starting point"
**OS** version `Windows 7`
**VSCode** version `1.31.0`
**Extension** version `1.2.1`

Pressing `space` always suggest _HTML5 starting point_ which is very annoying.

![](https://i.imgur.com/Wy0logc.gif)

[2019-02-10 08:56] #10 closed

[2019-02-10 08:59] #11 closed

[2019-02-10 09:00] gencer commented on #9
This feature has been added to master branch. I will provide an early beta extension for tests. Keep your eyes on here.

[2019-02-10 09:47] #5 closed

[2019-02-10 09:47] #7 closed

[2019-02-10 09:47] #8 closed

[2019-02-10 09:48] gencer commented on #4
Fixed in `master`

[2019-02-10 09:48] #4 closed

[2019-02-10 11:05] gencer commented on #9
![gif](https://user-images.githubusercontent.com/1711576/52532825-c270bf00-2d3b-11e9-8399-376fd76c6de2.gif)

Extension released. Please update your vscode extensions.

[2019-02-10 11:06] gencer commented on #13
I've skipped this one due to other issues priority. This will be fixed in next release. Probably emmet value should be true.

[2019-02-10 11:43] exv3 commented on #13
Okay, thanks!

[2019-02-10 17:34] Kcko commented on #9
Hi, thx for latte support! Works great.

Suggesting between html(latte) and css (scss) works fairly well, it show but only classes (but no identificators "#"), could you add it?

Is possible via some settings turn on extended info about occurences what i´m looking for and what did  plugin find? Like here?  https://marketplace.visualstudio.com/items?itemName=solnurkarim.html-to-css-autocompletion I

[2019-02-10 17:40] gencer commented on #9
Yes, I can add `id` attributes. But let me ask this. When I look your link, I see that css autocompletion shows HTML files locations, where they are located at.

Do you want them? Or you want:

[code]

[2019-02-10 17:47] gencer commented on #9
Oh, I see, even i've added this feature already something is keeping this feature stopped. I will look into this now.

[2019-02-10 17:56] Kcko commented on #9
But its the same or not?

Yes, this is exactly what i  want. (screen when i used previous plugin)
![](http://bit.ly/2UVhNtf)

And in html / latte (when I searching class or id from some CSS or SCSS file) - it would be nice to show file where  it was found.
![](http://bit.ly/2UKRdCO)

## MIXED SCENARIO

![](http://bit.ly/2UKSjyq)
![](http://bit.ly/2UVhVJf)

When i create new id or class in HTML / L

[2019-02-10 18:03] gencer commented on #9
Well, I was thinking this last week. I was thinking like `Go To Definition` feature. Sometimes, I also get lost due to this.

I will do my best to bring this to our extension.

I also think one more thing. I would like to separate `id` and `class` icons in autocomplete lists.

[2019-02-10 18:24] Kcko commented on #9
Via some icon or with 2 separated lists?

When you  parse files you probably know file / line where  where the occurrence is located (when this information add to popup window which is shown after suggestion it will be timeless! :-)

[2019-02-10 18:50] gencer commented on #9
I've implemented basic support for this. As you can see ID and Class has different icons. I will also separate them. When you press dot, you only see classes, when typing hash, you will see IDs.

![image](https://user-images.githubusercontent.com/1711576/52537958-ae4db180-2d7d-11e9-9a61-010230bce0f2.png)

This is how will it look like. A basic proposal.

[2019-02-10 19:30] Kcko commented on #9
Good idea.

it could look like this:
1) When i write some className or identifikator i will see everything in one list (it will be different by icon or some muted postfix/prefix (class) this-is-class or (id) this-is-id.
2) When i  specify selection with "." or "#" i get classname or id

And will you work previous point (extended info where class or id is located -> file/line or something like that

[2019-02-11 12:34] Kcko opened #14 "Optimalization"
After add new class to HTML or CSS plugin run full scan of workspace => my cpu fun is whispering all day.
Pls look at on it and try to make some optimalization.
No need run still new fullscan over the whole project (it should add to new selector or remove from existing cache , i think ...)

Thx!

[2019-02-11 12:39] gencer commented on #14
Hey @Kcko, This happens when you "save" or unfocus a file, right?

If so, I will disable this feature. But you should know that, This extension is not new and primarily based on zignd's version. Their version does not have incremental changes feature. It will take time to implement such feature.

One thing came to my mind is **only scan current file** when you edit a file. This will make your CPU

[2019-02-11 12:44] Kcko commented on #14
Exactly, when i save file, plugin will rescan the project (My projects are huge a this behavior is very annoying).

Yes, but this action should happen in the background automatically, what do u think?

[2019-02-11 12:51] gencer commented on #14
I've made a fix for you and also published to marketplace. This will save CPU from going high. But you'll need to manually re-cache.

Find VSIX here: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.3.1

Yes, you're right. I will find a way to do this within extension.

I'm sorry that i do not gave you another option at the moment because I really need to look and thin

[2019-02-11 13:02] gencer commented on #14
Okay. This is what we will do:

1. We will parse files but cache by using their paths.
2. Each file item will have its own selectors.
3. When file removed or added we will populate only those files
4. When a file changes (as you typed) we will only update that file.

This will work. I will change cache mechanism as soon as possible. I will remain this issue open and update here.

[2019-02-11 13:07] Kcko commented on #14
Take a time :-), we are not in a hurry.
Ping me when it will be rady and i will test it completely. (I repeat, do not spit)

[2019-02-11 14:28] gencer commented on #14
Here we go. First **beta** for `v1.4.0` : https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.4.0-beta

Now test this:

1. Install extension & Reload or restart vscode.
2. When cache init finishes, open a latte or html file and test if class completion works by typing one of your classes
3. Now create a class like class="anoter-class"
4. Save file. This time we will only

[2019-02-11 14:51] gencer commented on #14
P.S: There will be no delay like older versions. So, If you enable Auto save on focus in VSCode, you will get instant auto-completion across your files when you change/switch your tab.

[2019-02-11 15:18] Kcko commented on #14
Hi,
really weird, adding new class = looking for classes in whole project :( percent progress is jumping between two strange values), cpu fan is spinning

See video pls: http://bit.ly/2RUXdXY

[2019-02-11 15:30] gencer commented on #14
Hm.. Could this be cached? I mean did you `uninstall -> restart -> install`. Let me look at this. I am working on locations (your other request) and also check this and send you another release.

But check one more time via uninstalling it and restarting. Sometimes extensions are not loaded in vscode. I faced similar issues before.

[2019-02-11 15:56] gencer commented on #9
![image](https://user-images.githubusercontent.com/1711576/52575126-ba457c00-2e2e-11e9-88a8-caf45aacd481.png)

We're getting there...

[2019-02-11 15:58] Kcko commented on #9
Looks fantastic!

[2019-02-11 16:03] gencer commented on #9
@Kcko, have you tried what I say on other issue? Still same?

[2019-02-11 16:03] Kcko commented on #14
uninstal -> restart -> install -> restart again.
Ok adding new class -> no scan -> well.

In scss i cannot find a newly added claseses. (Im pressing this icon )
![](http://bit.ly/2RUypz9) -> scan
-> scan all classes in the workspace (still not good, it should scan only in the  file where i maked changes).

scss file
all newly added class i find - well!

Good progress.

See my testing video: (id wa

[2019-02-11 16:04] gencer commented on #9
Better naming:

![image](https://user-images.githubusercontent.com/1711576/52575757-d0077100-2e2f-11e9-99b8-94eeb6cdc44b.png)

[2019-02-11 16:04] Kcko commented on #9
Yes, you have an answer, look on video and my description, thx.

[2019-02-11 16:11] gencer commented on #14
I will try to reproduce and fix this.

The button is there for that. If you click button, it will scan whole workspace. For single file, you need to press `CTRL + S`. Basically, you need to save that file to get indexed.

Yes there is no # support at the moment BUT I will also add that! ;)

I will make everything faster. But just a curiosity. You must be have a millions of file. :)

[2019-02-11 16:14] Kcko commented on #14
oops, ok, i didnt know. But this means that its not working as expected (video), ctr +s => no change in cache (i dont see new classes / id).

We (You) are close to great success!
Thx for great work & fast reaction / cooperation.

[2019-02-11 16:18] gencer commented on #14
Anytime. Thanks for reporting and using this extension.

I am working on it. Will update here.

[2019-02-11 16:45] gencer commented on #14
@Kcko please try this for single-file update.

v1.5.1-beta: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.1-beta

Note: This is still BETA. Need lot of work but it should be faster than before.

[2019-02-11 16:46] gencer commented on #9
@Kcko please try this for "**usages**"

v1.5.1-beta: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.1-beta

**Note**: This is still **BETA**. Need lot of work but it should give you the idea.
**Note 2:** Find usages only works in css/scss. So, in css/scss you should see your latte files.

[2019-02-11 16:48] gencer commented on #14
@Kcko I forgot to say. uninstall first. You may hit the cache again in vscode extensions.

[2019-02-11 16:58] gencer commented on #9
There is a bug. When you create a new class in latte, usages are not listed. I've already fixed and will be available in next build.

[2019-02-11 17:14] gencer commented on #9
Here is the fixed one: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.2-beta

[2019-02-11 18:05] Kcko commented on #9
I will try tomorrow, VSC offers 1.3.x version (http://bit.ly/2UTiXVX)

[2019-02-11 18:11] gencer commented on #9
I did not publish, VSIX file is here: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.2-beta

I will publish after some additional work.

[2019-02-11 19:15] gencer commented on #14
Optimization made. Please reply here if you encounter high cpu usage when you save a single file.

[2019-02-11 19:15] #14 closed

[2019-02-11 19:15] gencer commented on #9
Latte and find usages are released in marketplace with version of 1.5.3.

[2019-02-11 19:15] #9 closed

[2019-02-11 20:04] Kcko commented on #11
Sorry still not working: video (http://bit.ly/2UUz6dB) via hash nothing founded, via dot found both (but second is not a classname)

[2019-02-11 20:06] Kcko commented on #14
Optimalization looks sweet! New classes are added "asap". High cpu is not so high like an afternoon.
But i found a few bugs, i will create a new issue.

[2019-02-11 20:52] Kcko opened #15 "Small bugs after new release (1.5.3)"
At first, speed is fantastic - happiness 👍

I have discovered a few "bugs":

### Bugs
1)  Searching in php files does not work (video: http://bit.ly/2UPeYcY)
2) There is no distinction between id and class (id searching does not work and searching via dot find both), you probably know it, but i dont know if it is in progress or its done and its a bug :-)
3) Path to file where is located is missing

[2019-02-12 10:17] gencer commented on #15
Try this: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.4-beta

I'm working on it. You will get this update soon. I am aware of this bug.

Try this: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.4-beta

I will check this.

This will be fixed in next build.

Please check this build for PHP and SCSS: https://github.com/gencer/HTML-S

[2019-02-12 11:11] Kcko commented on #15
Can you help me how to install it? http://bit.ly/2RX6mz8
Replace old directory with new one (1.54.)?

[2019-02-12 11:32] gencer commented on #15
No @Kcko, never do that!

Open VSCode, go to extensions, click three dots and click install from vsix. Restart.

![image](https://user-images.githubusercontent.com/1711576/52632584-06e29300-2ed3-11e9-9094-267474bb63ca.png)

[2019-02-12 11:34] gencer commented on #15
Btw, after I add SCSS find uages feature, auto complete becomes very slow. Let me know if you see that slowness.

[2019-02-12 11:45] Kcko commented on #15
Thx for instruction to vsix - i didnt know that.

1) Still not working http://bit.ly/2RTMmxj
2) OK, we skip for now
3) Works! http://bit.ly/2RW4bMr and (http://bit.ly/2RX4TsO - still works, great!) - but php files not, see point 1
4) ok - pending state, i will wait
5) ok - pending state, i will wait

[2019-02-12 11:50] gencer commented on #15
Okay. I'M on it. I will do PHP at last. First I will fix css/scss completion for ids and classes separately.

[2019-02-12 11:59] gencer commented on #15
![image](https://user-images.githubusercontent.com/1711576/52633861-b66d3480-2ed6-11e9-8772-9da74405059d.png)

This is how ID will look a like.

[2019-02-12 12:00] Kcko commented on #15
Looks good!

[2019-02-12 12:08] gencer commented on #15
Something is keeping me away to use `#` in scss. When I type `#` there is no autocomplete window. But I strictly define it.

Until I find a better way, you put `.` and can change to `#` after complete. You will see IDs like above.

[2019-02-12 12:15] gencer commented on #15
Hey @Kcko, can you try this build for PHP and IDs?

Note: When you put `#`, you will NOT get auto completions. Just put `.` like you define class and search for `ID` and see if it comes up. This is known bug for `#` and i will find a solution later.

v1.5.5-beta: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.5-beta

[2019-02-12 13:21] Kcko commented on #15
@gencer I tested it and seems to work it!
http://bit.ly/2X0nDer  (small improvement: ```poll-percent```` has 4 ocurrencies, and i see it twice , should be all together) :-)

[2019-02-12 13:23] gencer commented on #15
Yes, I'm aware of it. Will fix in next build ;)

[2019-02-12 13:25] Kcko commented on #15
@gencer Im happy, http://bit.ly/2WQJjcW  plugin can find buttons from bootstrap 👍

[2019-02-12 13:27] Kcko commented on #15
http://bit.ly/2WYaUcf  it corresponds to reality - WELL

[2019-02-12 13:28] gencer commented on #15
@Kcko I am very happy to hear that. Yes, I enabled that on previous commit.

As long as işt shows you buttons, its not problem. I will fix this multiple fields don't worry!

My only question: Does buttons shows up or not?

I will fix rest.

[2019-02-12 13:33] Kcko commented on #15
Any exception for BS? I hope not.

You have already finish many demands, this is nothing critical, no worries!

Sorry, dont understand, what do you mean with "shows up"?

[2019-02-12 13:35] gencer commented on #15
No exceptions. All there.

Thanks! And thank you for your patient and your visual videos!

I mean when you write `btn-p...` you see the completions. That's the matter.

[2019-02-12 13:41] Kcko commented on #15
Yes i see completitions :-)
You have to look at my videos from time to time :D

[2019-02-12 13:41] gencer commented on #15
Yes, I watched all! I was just repeating that's all.

[2019-02-12 13:43] Kcko commented on #15
Relax, just kidding ;)

[2019-02-12 13:45] Kcko commented on #15
We can probably close this issue.
Can you create a "roadmap" with unresolved points? (readme.md is the right place)
Thx!

[2019-02-12 13:46] gencer commented on #15
Hehe. No worries. In fact, watching videos helped me a lot to understand what is requested. Thank you one more time for uploading videos and your patient.

Here is a fixed version: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.6-beta

This has to fix your "multiple occcurrences" issue. Let me know if not.

[2019-02-12 13:46] gencer commented on #15
Issue closed per request and fix.

[2019-02-12 13:47] gencer commented on #15
@Kcko Sure I will prepare a roadmap (i have few things in my mind too) and put it to README.

[2019-02-12 13:49] gencer commented on #15
I've reopened this issue due to ID starts with `#`. Wait a reply from me, I will also add this feature and release on marketplace.

[2019-02-12 13:55] gencer commented on #15
Finally here.

Just IDs:

![image](https://user-images.githubusercontent.com/1711576/52640158-e290b180-2ee6-11e9-9030-9f5c948f3be6.png)

Just classes:

![image](https://user-images.githubusercontent.com/1711576/52640169-ea505600-2ee6-11e9-8ce9-01d2a8c4de90.png)

[2019-02-12 13:57] Kcko commented on #15
Tiny bug http://bit.ly/2WZMVJY

[2019-02-12 14:28] gencer commented on #15
Sorry for late reply. It was 17:00 (a Turkish coffee time in our house)

I will try to fix this. I found the problem. But first lets handle IDs.

[2019-02-12 14:32] Kcko commented on #15
:-) im not your boss and ur plugin is free = no worries :-) organize your time for developing as you need.

[2019-02-12 14:33] gencer commented on #15
Ah, I know that. But I also love being productive when I am coding. I need those features as much as you need.

[2019-02-12 14:34] Kcko commented on #15
do not say twice, im very  demanding and iI can bring you to madness :-D

[2019-02-12 14:40] gencer commented on #15
Here we go. Try this: Especially with ID and multiple issue and let me know.

Download: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.7

[2019-02-12 14:48] Kcko commented on #15
Identicators are founded after opening new workspace and after init fullscan, later nope.

Classes works fine.

http://bit.ly/2RXC9jv

[2019-02-12 15:01] gencer commented on #15
Fixed.

[2019-02-12 15:04] gencer commented on #15
Here: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.9

[2019-02-12 15:09] Kcko commented on #15
Sorry, not for me: http://bit.ly/2WQRjdY

[2019-02-12 15:10] Kcko commented on #15
Oops, now its working (some fu**** delay).

[2019-02-12 15:12] gencer commented on #15
Hm.. delay. It shouldn't. Can you re-test? If it slow again. I will look deeper

[2019-02-12 15:12] Kcko commented on #15
Bug: when you have same name for class and for id probably: (behaves accidentally)
http://bit.ly/2WQRrds

[2019-02-12 15:13] Kcko commented on #15
but I notice slower intelisense sometimes ...we have to focus on it (performance is number one)

[2019-02-12 15:14] gencer opened #16 "when you have same name for class and id, only id get listed"
Bug: when you have same name for class and for id probably: (behaves accidentally)

[20190212-161207.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/2856457/20190212-161207.zip)

[2019-02-12 15:15] gencer opened #17 "improve performance on scss find usages"
Primary reason for slow performance is that we also cache usages in SCSS files. If we exclude them it is instant.

_I will try to provide an option for this._

**Option provided.** Related option is `enableScssFindUsage`. Find more info in README.md

[2019-02-12 15:16] gencer commented on #15
Yes, Indeed. Now I'm closing this. I opened two different issues and will update there. You may subscribe them.

#17 and #16.

Thanks!

[2019-02-12 15:16] #15 closed

[2019-02-12 17:34] Kcko commented on #17
How it works? How to set it?
I would like the same behavior as with css / php / latte files ...
1) fullscan when we open project at first (initial)
2) adding new classes / identificators to cache from file which i am.

Does it work like this?

[2019-02-12 18:39] gencer commented on #17
Let me explain;

The features you want is implemented. One of them is find usages in SCSS files. From SCSS to another SCSS. This makes IntelliSense slow. So, In new version I disabled this feature.

It is on marketplace. Now, If you say i can live with slow intellisense, just open settings.json and this:

[code]

This will enable finsing usages in SCSS files but it will be a little slow. This is w

[2019-02-12 18:41] gencer commented on #17
This issue shopuld stay open because I just hacked by setting. We need more performance.

[2019-02-12 18:58] Kcko commented on #17
Thx for explanation:

Let me give you a few questions:

1) When a set directive ```html-css-class-completion.enableScssFindUsage``` to ```false``` i never see path of occurenses.
![](http://bit.ly/2UWtkIF)

2) When a set directive ```html-css-class-completion.enableScssFindUsage``` to ```true`` i  see path of occurenses.
![](http://bit.ly/2V11XNN)

If is correct behavior (1+2), so i dont understan

[2019-02-12 19:03] gencer commented on #17
Exactly. If you enable enableScssFindUsage this means you will get paths. If you disable (false) you only get paths for php, latte or html... Not scss.

[2019-02-12 19:16] Kcko commented on #17
thanks for clarification.
But I'm afraid it does not work in css files.

With options: ```"html-css-class-completion.enableScssFindUsage": true```
Video:  http://bit.ly/2UQYIbq

With options: ```"html-css-class-completion.enableScssFindUsage": false```
occurences  does not work anywhere
Video: http://bit.ly/2UQZHs8

:-(

[2019-02-12 19:28] gencer commented on #17
Fixed.

Sent to marketplace too:

Here: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.11

[2019-02-12 19:40] Kcko commented on #17
So fast? Where was the problem? In commits i  do not see some change...

[2019-02-12 19:44] gencer commented on #17
Yes, thast fast :=)

Here: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/commit/bba2085d6dd785430574bf4daaf47712f635f5f9

Look at the bottom `extension.ts`. You will see changed line there.

[2019-02-12 19:48] gencer commented on #17
And even better: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/commit/5d8c4629fdc6c1fe7dee994c3d5e6c402ab99c84

[2019-02-12 20:59] Kcko commented on #17
:-)

Sorry still buggy.
With false works fine (css / latte occurences works, scss not = fine)
With true works not good (scss / latte works, css not = bad, php some classes are founded, some not ...)

[2019-02-12 20:59] Kcko commented on #17
tomorrow is also a day, give rest to ur head.

[2019-02-12 21:02] Kcko commented on #17
If you want further information or video, let me know (or tomorrow, im tired :D)

[2019-02-13 08:30] Kcko commented on #17
## PHP Behavior
Video: http://bit.ly/2RZodW0
if you wanna PHP code (my old class) to analyze, i will send you on private e-mail.

# option: "html-css-class-completion.enableScssFindUsage": true
Css not showing occurences, you can easily simulate yourself, but if you want video, i´will make it.

[2019-02-13 08:42] gencer commented on #17
can you send the sample php file to me via gencer [at] nienbo.co.uk.

It seems something is preventing finding usages in your PHP file. Could be REGEX issue.

[2019-02-13 09:17] gencer commented on #17
Fixed in v1.5.12.

Try this build: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.12

[2019-02-13 09:20] gencer commented on #17
![image](https://user-images.githubusercontent.com/1711576/52700760-c42fc200-2f89-11e9-8efb-a4476a1910eb.png)

[2019-02-13 09:32] Kcko commented on #17
@gencer great works!
There is probably only a second point http://bit.ly/2RZAav8

[2019-02-13 09:37] gencer commented on #17
Great to hear that!

For SCSS find usage issue; I will try to reproduce and fix this. Thanks for reporting.

[2019-02-13 09:59] Kcko commented on #17
Thx for fast reply & fix.

[2019-02-13 09:59] Kcko commented on #17
We can close this and open new issue with second point?

[2019-02-13 10:17] gencer commented on #17
Create a new issue but this will remain open because i still need performance tuning for scss.

[2019-02-13 10:33] Kcko commented on #17
Yes, i agree, performance is more important :) totally agree.

[2019-02-13 11:05] imichall opened #18 "Peek definition and link to class style"
Hi,

thanks for huge upgrade since yesterday. I'd like to ask you for some feature. Is it possible to make classes linkable to each scss style? I mean for example in latte:

where is for example span with class label

`<span class="label">{label phone}</span>`

and what would be great, make a class="label" linkable to style label.scss.

<img width="789" alt="snimek obrazovky 2019-02-13 v 12 03 09"

[2019-02-13 11:22] gencer commented on #18
Hi @imichall,

You mean `ctrl + click`? (`Go to definition`?)

[2019-02-13 11:26] imichall commented on #18
Exactly :)

[2019-02-13 11:27] gencer commented on #18
Yes, this is possible. My proposal would be;

- Check if class or id used in single file. If so, open that file directly.
- If more then one usage found, open a popup and let user to choose which one should be opened.

[2019-02-13 11:29] gencer commented on #18
Furthermore, I will try to implement a basic support first on my end and update here.

[2019-02-13 11:30] Kcko commented on #18
@imichall , @gencer
You talk about click & jump to file which i selected (clicked) from popup window with occurences?
http://bit.ly/2RWFrDv

[2019-02-13 11:31] gencer commented on #18
No. Let say you write a latte template and there is a class in it. When you `ctrl + clik` on that element it will open related SCSS/CSS file.

[2019-02-13 11:33] Kcko commented on #18
@gencer oh, now i understand.
Its that basically same action like as in my prev video, or not?

[2019-02-13 11:34] imichall commented on #18
@gencer yes, that's what I mean :) And yes, I've tried it and the class is in single file. When I try to  use cmd (macos) and hover on .some-class. Then it shows me, where is the class used. But I need, as you said, link from latte, html, php into definition directly to scss :)

[2019-02-13 11:43] gencer commented on #18
I will look how vscode handle such actions and try to implement.

[2019-02-13 11:47] Kcko commented on #18
@gencer You will have a lot of work because VSC is little buggy with this behavior, see my issue on VSC channel: https://github.com/Microsoft/vscode/issues/66984

[2019-02-14 10:15] Kcko opened #19 "No autocomplete for sub-classes on scss"
Hi gencer,

with today i started work on new project and i see a strange behavior with some mistakes
which were to be corrected in the previous commits / issues.

Video + explanation inside ... http://bit.ly/2S524WJ

:-(

[2019-02-14 10:33] gencer commented on #19
This is not a bug but a missing feature.

To autocomplete such SCSS selectors, we need to compile SCSS first.

For example;

.class { // We can auto complete this.
  &--connected {
    // we cannot know this until SCSS compiled.
  }
}

But I think I can hack into it and show such completions. Let me do some demos on my end and update here.

What I can do here is, hack into such completions and mer

[2019-02-14 10:35] Kcko commented on #19
In video you can see that im using app.css in project (where is everything after scss compilation).

[2019-02-14 10:36] Kcko commented on #19
And it works on previous project (plugin show completitions for latte / php / css )
and when im setup scssUsing : true also in scss files.
Now its works strangely.

[2019-02-14 10:37] gencer commented on #19
Are you sure that file is indexed by this extension? Is it local? Can you send me that file via email again? If it works on my end then this files does not get indexed in your workspace.

[2019-02-14 10:37] gencer commented on #19
So it works with that option?

[2019-02-14 10:44] gencer commented on #19
Ah and one more thing:

As you know we introduced incremental build that's mean when you change something after VSCode opens, we will include that changes.

This does not counts changed files on disk.  This means, If you build that `app.css` files via gulp or something, vscode will not see that file. You need to click action button bottom of vscode. Try this. If it works, I will add this event to

[2019-02-14 10:48] imichall commented on #19
Yeah, it should be the problem @Kcko. Otherwise, will be this function added as feature into this extension as automatically? That will be watching changing files / dirs like a gulp or something like that? Just question.

[2019-02-14 10:51] gencer commented on #19
Yup. That was what I am thinking of. I will watch changed files on disk. But I need @kcko to confirm this. He probably restarted vscode thats why it did worked on second time -not by option-. Because next time he start vscodei `app.css` was there already.

[2019-02-14 11:19] Kcko commented on #19
## Project eshop: (buggy)
css file here: http://nette-bootstrap.r.dev7.andweb.cz/assets/css/dev/app.css?1550137895
new video here: http://bit.ly/2X2m7c0

of course i press "uncache" btn on the bottom of VSC  and after for sure I restarted VSC a several times - without change.

All files ale local.

[2019-02-14 11:28] Kcko commented on #19
Soccer project: (buggy less)
Video: http://bit.ly/2WYWYyK

Still with ```"html-css-class-completion.enableScssFindUsage": false```

classes from BS are visible but occurences are only in (latte / php / html)
css -> missing -> bad (we set findUsage on false, but this should control only scss file)
scss -> missing -> godd (because we set findUsage on false)

Some idea whats bad?

[2019-02-14 11:31] Kcko commented on #19
and one small piece at the end, when i wrote exact name for class, it never on first position on the list.

[2019-02-14 11:38] gencer commented on #19
I will look into this and release new version.

It will be fixed in next build.

[2019-02-14 11:39] gencer commented on #19
I will look deeper on this.

[2019-02-14 11:46] Kcko commented on #19
So we should be clear about the behavior of plugin, I'm already losing myself.

It should works like that:

## default behavior
Autocompletition for
 - latte
 - html
 - php
 - whatever without scss (because it slows down performance, can be solved at future)

When i add / change / delete some class or id in css file, it will rescan only file where i did it.
Fullscan will run only once (when i load

[2019-02-14 12:24] gencer commented on #19
Yes but i think you misunderstood how enableScssFindUsage works? I will explain in detail on readme later.

[2019-02-26 12:04] JessicaIwu opened #20 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.12`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/jessicaonyinyeiwu/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/

[2019-02-26 12:48] awadkhaled opened #21 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.12`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\awadk\gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Mi

[2019-02-26 14:04] imichall commented on #18
Hi, how are you? Do you remember to my question of link from html, latte to each class style into defined style in scss? Have you already check it or started on it, please?

[2019-02-28 14:04] gencer commented on #18
Hi @imichall, Yes, I will work on that. I am another city and will return to home in a a week. This is why i did not go forward with any issues yet.

But, what I learned is that it requires some kind of language server/client. I also get some high cpu alerts from users. I hoped to fixed them before, Still weird.

[2019-02-28 14:20] horlorlahdeh opened #22 "The extension isn't working at all"
Issue Type: <b>Bug</b>

The lighening Image isn't showing to indicate that the extention is active. I have uninstalled and installed severally but still not working.

Extension version: 1.5.12
VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|I

[2019-03-01 15:20] Afinetri opened #23 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.12`
- OS Version: `Linux x64 4.15.0-45-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/aafine/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Mi

[2019-03-01 15:21] #23 closed

[2019-03-08 09:30] imichall commented on #18
Hi, how does it look? Just asking. Thanks for reply.

[2019-03-10 14:19] gencer commented on #18
It seems we need language server for this. I was hoping to implement without it byt that is the way how it should be handled which is require significant changes that i cannot have at the moment. But this is on my radar so subscribe on this thread.

[2019-03-12 14:00] ColdNoney opened #24 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.12`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.32.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Antonio\gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/

[2019-03-12 14:01] #24 closed

[2019-03-15 03:56] aryasudhanshu opened #25 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.12`
- OS Version: `Linux ia32 4.15.0-46-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/amrita/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/M

[2019-03-16 17:04] #20 closed

[2019-03-16 17:04] #21 closed

[2019-03-16 17:04] #25 closed

[2019-03-19 13:44] massimo-cassandro opened #26 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.13`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/max/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vsco

[2019-03-19 14:24] #26 closed

[2019-03-20 06:24] gencer commented on #22
I've tested on fresh installed Windows. However, I cannot reproduce this behavior...

[2019-03-22 13:50] gencer commented on #18
**Update:** I might be a found a way of doing this without Language Server/Client via `Hover` feature.

I will try to implement this.

/cc @imichall

[2019-03-24 05:21] pmunin opened #27 "Not working for .Slim files"
Does highlight or give any intellisense for a slim files. Slim files are treated as plaintext

[2019-03-24 12:29] gencer commented on #27
Have you installed this extension: https://marketplace.visualstudio.com/items?itemName=sianglim.slim

[2019-03-25 19:21] pmunin commented on #27
Is this step mentioned in its instructions somewhere?
I only installed https://marketplace.visualstudio.com/items?itemName=gencer.html-slim-scss-css-class-completion.  and reading "Supported Language Modes" : "Slim" makes me think that it will make autocomplete and highlight work for slim files.

[2019-03-25 21:51] icehaunter opened #28 "Add configurable html-based language support"
I'd like to have class completions within my Django templates (which are basically HTML). I am using another extension for syntax highlight of template parts, but it defines its own language (`django-html`).

Their docs recommend the following to reenable emmet within the templates:
[code]

I was hoping you could add something similar, for users to be able to add language identifiers themselves.

[2019-03-26 10:24] gencer commented on #27
Sorry for misleading. This extension will not work without that extension.

I will clearly state this in README.

[2019-03-26 10:25] gencer commented on #28
Sure! I will look into this.

[2019-03-26 13:23] gencer commented on #27
I've go ahead and added requires note to the slim.

Closing this issue favor on this change.

[2019-03-26 13:23] #27 closed

[2019-04-03 11:47] sndrs opened #29 "html.erb issue?"
I have a workspace setting for `"html-css-class-completion.includeGlobPattern": "dist/framework.css"`. that file definitely exists, and the extension seems happy it's indexed everything

<img width="524" alt="image" src="https://user-images.githubusercontent.com/867233/55477101-39c22100-5610-11e9-95b3-f2ea83ebc16e.png">

but no classes ever come up in `html.erb` files...

![Kapture 2019-04-03 at 1

[2019-04-03 15:04] gencer commented on #29
Hey Alex, I couldn't reproduce this issue. Can you just use this:

[code]

With above config, is it working?

![image](https://user-images.githubusercontent.com/1711576/55489244-38a5e980-563a-11e9-97f5-39b423672182.png)

Above sample used this config:

[code]

Could you send me the `erb`, `css` and `settings.json` file?

If you want send them to `gencer@nienbo.co.uk` so they stay hidden here.

[2019-04-03 15:17] gencer commented on #29
BTW, which **extension** do you use for highlighting `erb` files?

[2019-04-03 16:19] sndrs commented on #29
hi gencer, thanks for having a look!

I've just done as you did, put together a very simple project with one `erb` file and the exact same css file I'm hoping to load:

[code]
<img width="222" alt="image" src="https://user-images.githubusercontent.com/867233/55495003-dd70f880-5633-11e9-8383-370ecceb7f65.png">

everything worked as you'd expect.

however, comparing the output in dev tools, the simp

[2019-04-03 16:20] sndrs commented on #29
just the `rebornix.ruby` one :) theme is monokai pro

[2019-04-03 16:34] gencer commented on #29
This is weird. It should result the same numbers on both cases if the files are exact same. I will investigate this difference on my end.

BTW, When you use `default settings` on your existing project (_not the test one_), does it work? Or, Only works on empty project just like above?

[2019-04-03 18:02] sndrs commented on #29
default settings made no difference unfortunately. i think I first focused the globbing on to that single file because it's a big project, a lot of sass partials around and a lot of css files in dist I don't need to know about. I wonder if that makes a difference? feels as though the glob is returning extra things maybe?

it wouldn't explain what the weird thing about the main project is though...

[2019-04-06 14:24] gencer commented on #29
Sorry for late reply. I had a surgery. Anyway, do you see the file (css one) after this console logline:

![image](https://user-images.githubusercontent.com/1711576/55670732-b105e800-5890-11e9-977a-9ae5ef9ea84f.png)

I will try to add more verbose logging to the extension.

[2019-04-12 09:52] sndrs commented on #29
hi @gencer – sorry for not getting back to you, but I've just noticed it's started working as expected! I've no idea what's changed, but it has :)

[2019-04-12 09:52] #29 closed

[2019-04-12 12:52] gencer commented on #29
hi @sndrs, I am very happy to hear that! Let me know if you encounter any other issues.

[2019-04-15 17:02] #22 closed

[2019-05-07 07:58] GridPen opened #30 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.14`
- OS Version: `Darwin x64 13.4.0`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/DEBA/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vsco

[2019-05-07 09:46] #30 closed

[2019-05-14 12:42] shiftgeist opened #31 "Scan for CSS classes in workplace freezes at 99.xx%"
Reported this here: https://github.com/zignd/HTML-CSS-Class-Completion/issues/154

This is still happening
![image](https://user-images.githubusercontent.com/30648730/57697921-9cb5c780-7654-11e9-9946-dfbac0880364.png)

Idea: Maybe this is a caching problem because some are still available?
![image](https://user-images.githubusercontent.com/30648730/57698018-d5ee3780-7654-11e9-91c6-c012e7ef0024.png

[2019-05-14 13:20] gencer commented on #31
I reproduced this behavior on one of my workspaces, which is very large. I will try to implement a workaround. But i have to make sure this is not related to VSCode `1.31.1`.

[2019-05-14 15:55] shiftgeist commented on #31
I'm currently working on vscode 1.33.1

[2019-05-14 18:06] gencer commented on #31
Did this also happens on previous VSCode versions or only introduced in 1.33.1?

[2019-05-15 08:09] shiftgeist commented on #31
Yes this also happend on previous version.

[2019-05-28 04:16] gencer commented on #31
Do you set `"html-css-class-completion.excludeGlobPattern"` to `""` in your settings.json?

In my large project,  I set this option to blank. This causes stuck at 99%. This mean it process `node_modules/`. When I remove that key (which is default point to node modules) it worked.

[2019-05-28 07:18] barking-horse opened #32 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.14`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.34.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/agenceappaloosa/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Mic

[2019-05-28 07:23] #32 closed

[2019-05-28 17:17] minkir014 opened #33 "bootstrap 4"
I have bootstrap 4 remote stylesheet. I set first set this in `settings.json`
`"html-css-class-completion.remoteStyleSheets": [
        "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    ]`
Although, it seems that some classes isn't working in completion.

[2019-05-28 18:29] gencer commented on #33
Can you be more specific?

So you say, remote css works but some classes not listed, right? If so can you gave me an example or at least few classes that doesn't get listed.

Also, which language are you trying to get auto-complete? *.scss/*.sass, *.css or else?

[2019-05-28 18:30] gencer commented on #31
I have added node settings to exclude note strictly. I will test and publish soon.

[2019-05-28 18:31] gencer commented on #28
This will not seen by this extension, therefore, I'll strictly add django HTML.

[2019-05-28 18:31] #18 closed

[2019-05-28 18:32] #17 closed

[2019-05-28 18:32] #19 closed

[2019-05-28 19:00] minkir014 commented on #33
I try to get bootstrap classes completion in html elements.I'll show you an example.

![ds](https://user-images.githubusercontent.com/42807112/58504690-7c752500-818b-11e9-89b1-17d22abc565d.jpeg)

It must show `text-danger` class and `text-dark` but it doesn't show the both.

[2019-05-28 19:10] gencer commented on #33
I've reproduced this issue. Some classes get listed but some of them not. Like you said, `text-danger` and similar classes are not in the list.

Will try to fix as soon as possible.

[2019-05-28 19:11] minkir014 commented on #33
Thank you for help.

[2019-05-29 17:48] minkir014 commented on #33
I also noticed a new problem. I installed the bootstrap file inside my project and I noticed that any class under media queries isn't recognized by the extension.
Like this. It must have have shown `p-lg-` then any number from 0 to 5 but this is what happens.

![min](https://user-images.githubusercontent.com/42807112/58578880-21eece00-824a-11e9-8e8f-03f739886b58.jpg)

and when I searched the boots

[2019-05-29 18:06] gencer commented on #33
Yes, parsing regex has problems. I am working on better regex pattern. If I can't do in one pass, I will add secondary check for such scenarios.

[2019-05-31 13:19] Danni96 opened #34 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.14`
- OS Version: `Linux x64 5.0.17-200.fc29.x86_64`
- VSCode version: `1.34.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/dannis/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt`

Find more details here: https://github.co

[2019-05-31 14:04] #34 closed

[2019-06-01 14:15] minkir014 commented on #33
I noticed another problem. Your extension doesn't detect IDs anymore. See this. This is a CSS file with an ID and class

![kk](https://user-images.githubusercontent.com/42807112/58749577-0ec94180-8488-11e9-92d3-108719b578a6.jpeg)

When I type the class. Completion works.

![kk1](https://user-images.githubusercontent.com/42807112/58749585-2bfe1000-8488-11e9-8e1d-bbedb90c765b.jpeg)

but when I type

[2019-06-01 17:03] minkir014 commented on #33
@gencer where are you??

[2019-06-01 17:15] gencer commented on #33
I'm looking for something on another extension. There is a delay but I will publish new version soon. Sorry for the delay.

For last bug (`ID`), I am not able to test it at the moment im out of home. I will try to reproduce and report back to you.

[2019-06-01 22:02] minkir014 commented on #33
Okay. When you reproduce the issue or not. Please tell me the results.

[2019-06-01 22:11] minkir014 commented on #33
See this extension. It has nice completion for IDs and classes but its problem is that it has a problem with updating changes. It doesn't understand changes until restarting vs code.

https://github.com/ecmel/vscode-html-css

[2019-06-04 09:31] issei126 opened #35 "Double period insert in a `.slim` file"
OS: macOS 10.14.5
VSCode: 1.34.0
Extension: 1.5.14

When I choice suggestion, Double period insert.
I want to insert only one period.
![dupulicate_period](https://user-images.githubusercontent.com/2083116/58868149-b481e800-86f6-11e9-8c66-2e1d6f4179e1.gif)

Intellisense in class cause, it work fine.
![class](https://user-images.githubusercontent.com/2083116/58868234-e004d280-86f6-11e9-80e6-20a8f05b

[2019-06-05 15:44] gencer commented on #35
Fix is in the `master` branch. Will publish when I completely solve #33.

[2019-06-05 16:00] gencer commented on #35
Please try this build:
[html-slim-scss-css-class-completion-1.5.15.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/3257975/html-slim-scss-css-class-completion-1.5.15.zip)

You can install this on extension panel.

[2019-06-07 01:05] issei126 commented on #35
@gencer

It work fine ! Thanks !

[2019-06-08 05:56] #35 closed

[2019-06-08 21:25] minkir014 commented on #33
When will you push the next release??

[2019-06-08 23:36] gencer commented on #33
@minkir014, Please try this build. You can install vsix file (inside the zip) via extension manager on VSCode.

1.5.16: [html-slim-scss-css-class-completion-1.5.16.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/3268998/html-slim-scss-css-class-completion-1.5.16.zip)

Note that, This build only fixes missing classes. I will fix `ID` issue on next build.

[2019-06-08 23:51] gencer commented on #33
Hey @minkir014, Try this new build for `ID` support. Let me know how it works.

**1.5.17**: [html-slim-scss-css-class-completion-1.5.17.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/3269004/html-slim-scss-css-class-completion-1.5.17.zip)

[2019-06-09 18:38] minkir014 commented on #33
The build `1.5.16` works for all classes but only when the `css` file is not remote. If it's remote. It still doesn't complete things but if it's local, it works perfectly.

[2019-06-09 19:07] minkir014 commented on #33
The build `1.5.17` works fine for both classes an IDs but the problem of remote `stylesheets` still continues but it does its work for local `styleshhets` for both IDs and classes. Very Good. Continue working.

[2019-06-10 16:41] minkir014 commented on #33
Any idea about why extension doesn't recognize all classes in remote `stylesheets`.

[2019-06-10 16:42] gencer commented on #33
On my tests, remote works. I get the classes you mentioned in first post. Can you share settings.json part of this extension?

[2019-06-10 18:35] minkir014 commented on #33
Oh. Very Good when I tried again. It worked as expected. When will you push that release o the marketplace?

[2019-06-10 18:35] #33 closed

[2019-06-10 19:09] gencer commented on #33
@minkir014. Pushed it now. Will be available at marketplace in a few minutes.

[2019-06-10 19:15] #16 closed

[2019-06-12 16:21] gencer commented on #31
I've changed CSS/SCSS Pre-processor usage. Can you try with latest version? Also `node_modules` is in exclude path.

[2019-06-13 13:23] shiftgeist commented on #31
Great to hear! I've tested it a few hours (version 1.5.17) and I think it's gotten better, but it's still gets stuck a some times. I'd say it works 60% of the time.

[2019-06-13 13:28] shiftgeist commented on #31
I had another idea: How about ignoring all .gitignore(ed) files? When you build a project folders like public, dist or temp beeing generated with css files inside, but they are only a compiled version of the classes that exist in the source and this could save some time.

I don't know if you could make it work with `.gitignore` paths because of the `!keep/folder/`, `example.file` and `node_modules

[2019-06-13 13:58] gencer commented on #31
We may support `.gitignore` as a secondary source of exclude setting. First we look for include and exclude via `settings.json` then add more ignores based on `.gitignore`.

BTW, have you ever tried `excludeGlobPattern` setting that mentioned in `README`?

[2019-06-14 10:26] shiftgeist commented on #31
I didn't know there where so many usefull settings for your plugin. It works by removing .css files from `include glob pattern`.

:+1: Thank you for your awesome maintenance of this plugin. :tada:

[2019-06-14 10:26] #31 closed

[2019-06-14 10:34] gencer commented on #31
I'm very happy to hear that. 🎉 Thanks! If you encounter any issue, do not hesitate to open a new issue.

[2019-06-14 13:55] COD3BREAK3R opened #36 "Classes do not appear if the class or id tag is autocompleted with some snippet"
For example, if I use the autocomplete of the class tag, it automatically puts me as follows: class = "", with the cursor inside the quotes, but if I start to write inside the quotes the name of the class does not appear, but if I simply move the cursor to the cursor to the right or to any other place and place it back inside the quotation marks and start writing again if the classes appear. Pleas

[2019-06-20 16:45] GulajavaMinistudio opened #37 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.17`
- OS Version: `Darwin x64 18.6.0`
- VSCode version: `1.35.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/rianyuliantow/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Micro

[2019-06-22 07:49] #37 closed

[2019-07-01 06:48] Steve30 opened #38 "Failed to cache error popup"
Failed to cache the CSS classes in the workspace for the first time: Failed to cache the class definitions during the iterations over the documents that were found: Failed to parse the documents: selectors[className].indexOf is not a function

[2019-07-09 14:50] ksweetie commented on #38
This happens to me, too, every time I try to run the extension.

<img width="561" alt="Screen Shot 2019-07-09 at 8 49 22 AM" src="https://user-images.githubusercontent.com/2036284/60898743-89734280-a226-11e9-8d06-21daca58370e.png">

Let me know how I can give you more info if possible.

[2019-07-09 15:25] gencer commented on #38
* Whats size of your workspace? A big one or small?
* Do you include `node_modules/`? If yes, Try to exclude it via config.
* Do you have a big-fat-single scss or css file? If so how many lines have it.

I also need a backtrace. You can open Developer Menu via `Help -> Toggle Developer Tools`

[2019-07-09 15:48] ksweetie commented on #38
I set `"html-css-class-completion.includeGlobPattern"` to be more restrictive and that did the trick. It must've been picking up `node_modules` or something else. Thanks for your quick help!

[2019-07-09 16:31] gencer commented on #38
Glad it did worked! Let me know if you need anything else.

[2019-07-16 10:35] willstocks-tech opened #39 "Extension appears to significantly impact VSCode startup time"
Hello!

I noticed that my VSCode was launching relatively slowly recently. Upon investigating (F1 -> Startup Performance), it _appears_ that this extension is impacting startup time by around 3s:

## Extension Activation Stats

| Extension                                  | Eager | Load Code | Call Activate | Finish Activate | Event                 |
| ------------------------------------------ |

[2019-07-17 01:00] Rodoi opened #40 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.17`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.36.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Robert\gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Mi

[2019-07-21 18:13] gencer commented on #39
First of all, I am sorry for late reply. I get dozens of notifications everyday and i sometimes miss few issues.

Is this happening on every project you open VSCode or just on specific project?

[2019-07-21 18:18] gencer commented on #38
Fixed in `1.5.18`.

[2019-07-21 18:18] #38 closed

[2019-07-21 19:08] gencer commented on #39
@willstocks-tech I have published a minimized (via webpack) version. Please test against `1.5.20`. It will be in marketplace soon.

[2019-07-21 19:28] #40 closed

[2019-07-23 08:13] willstocks-tech commented on #39
Hi @gencer - apologies for a delayed response! Fully appreciate you must get tonnes of notifications!

I have just updated and checked "Startup Performance" again:

| Extension                                  | Eager | Load Code | Call Activate | Finish Activate | Event               |
| ------------------------------------------ | ----- | --------- | ------------- | --------------- | -----------

[2019-07-23 17:39] gencer commented on #39
I have packed extension via webpack. This is first step. I will continue to evaluate all possible ways for decreasing startup time. For now. I will leave this issue stay open.

[2019-07-24 09:20] willstocks-tech commented on #39
Hi @gencer

It might be worth looking at making use of activation events as well, rather than loading the extension upfront? For instance (taken from [VSCode docs](https://code.visualstudio.com/api/references/activation-events#onLanguage)):

[code]

[2019-08-28 15:04] willstocks opened #41 "[Question] Does excludeGlobPattern respect files.exclude?"
Hello,
I noticed there's an `excludeGlobPattern` which is defaulted to `node_modules` however I'm unclear on how to format this for other folders that need to be excluded. Is it comma separated, space separated, declared as an array in settings.json?

Also, does `excludeGlobPattern` respect the existing defined `files.exclude` patterns that have been defined?

[2019-08-28 15:10] gencer commented on #41
As you can see here:

https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/blob/4a46d2f93c96f72c3fab52bc1fd661374d9b47c2/src/extension.ts#L297

It does not respect `files.exclude`. It is a glob pattern. Similar to regex. Each pattern separated by `;`.

Samples:

[code]

[2019-08-29 10:23] willstocks commented on #41
Ahhh OK it's `;` separated! Apologies, I'm not personally familiar with working with glob patterns specifically 😄

It might be worthwhile adding this info to either the readme or in the setting description to mention that they are `;` separated, as it's a little unclear if you're not 100% familiar!

[2019-09-02 13:44] gencer commented on #41
Sorry for late reply, I forgot to return back here. I keep this issue open,

1. I will update README. From top to bottom. It needs to be updated and trimmed.
2. I will probably add support for global `files.exclude`.

Gencer.

[2019-09-19 07:06] ipapoutsidis opened #42 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.5.20`
- OS Version: `Linux x64 4.15.0-64-generic`
- VSCode version: `1.38.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/ipapoutsidis/gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt`

Find more details here: https://github.c

[2019-09-19 14:37] ipapoutsidis commented on #42
### Thank you gencer...

[2019-09-19 17:37] gencer commented on #42
@ipapoutsidis I am sorry, I thought this is an automated issue. You know some extensions sends automatic issues so i close them. I thought this is one of them.

However, I need more info.

[2019-09-23 10:06] ipapoutsidis commented on #42
Thank you for your reply Gencer,
Once I have it I will send you.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
09/23/19,
01:05:06 PM

On Thu, Sep 19, 2019 at 8:37 PM Gencer W. Genç <notifications@github.com>
w

[2019-10-01 09:50] Kcko opened #43 "Still loading ..."
Hi Gencer, after some time I´m back. Has anything changed?

Im trying ur plugin again but i get hated "LOADING ..."

http://bit.ly/2o5DSdq

How to get out of it?

[2019-10-01 10:01] gencer commented on #43
Very interesting @Kcko. It tooks too long to get list. It should list instantly.

I will check with latte on my end?

BTW, Is your workspace big? (Hundreds or thousands of SCSS/CSS?) Do you exclude `node_modules/`? It may be the key reason.

[2019-10-01 10:22] Kcko commented on #43
Hi gencer,

Its interesting, but sad also :-D

Doesnt matter if it latte or scss file, same result.

My WS is not to small, but  not huge  .... i have dozens scss files (maybe more, but not thousands).

My settings
http://bit.ly/2nrqWhM

[2019-10-01 10:32] gencer commented on #43
Gotcha! Let me try on my. I will probably either fix globs or completely prevent **node_modules**.

[2019-10-01 10:52] Kcko commented on #43
My additional settings (copied from my friend)
But still searching in node_modules, dont understand this behavior :(

[code]

http://bit.ly/2neK2bb

[2019-10-01 11:57] Kcko commented on #43
Do you want to see my complete settings.json?

[2019-10-01 13:06] gencer commented on #43
Would be great.

[2019-10-01 13:08] Kcko commented on #43
Here it is ...

[code]

[2019-10-02 12:56] Alex-Dinu opened #44 "Inconsistent versions"
Hi, is it possible to update github version to reflect the one in the market place? My company needs to approve the software, but they can't since the versions are out of sync.

Thanks
Alex

[2019-10-02 13:01] gencer commented on #44
You mean: https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/releases/tag/v1.5.20

Gencer.

[2019-10-04 21:03] ricardoruwer opened #45 "It doesn't work with .html.erb files"
I couldn't make it work in `.html.erb` files!

When I'm editing a pure HTML file:
![](https://media.giphy.com/media/VHZeordRb0ej55g1uK/giphy.gif)

But when I change to `.html.erb`:
![](https://media.giphy.com/media/RkVzCtuWagT8tRKWcn/giphy.gif)

I'm currently using the Ruby extension https://marketplace.visualstudio.com/items?itemName=rebornix.Ruby

[2019-10-05 08:19] gencer commented on #45
Hi @ricardoruwer i think i might found the issue.

To make sure i found the right issue source, can you install this and try?

https://marketplace.visualstudio.com/items?itemName=CraigMaslowski.erb

After installing this, if it works we will handle this in the future.

[2019-10-07 13:45] ricardoruwer commented on #45
Thank you for the quick answer ❤️
I installed this new extension, and:

The Emmet doesn't work:
e.g. when I type `h1` and press TAB it doesn't create the `<h1></h1>`.

But the IntelliSense works :)
e.g. when I type `<h1 class=""></h1>` the HTML classes appear in the list...

[2019-10-07 14:10] ricardoruwer commented on #45
Actually, I'm not sure... 🤔
Forget what I said...

I think this extension you said makes no difference...
When I change the language mode (`CMD+K M`) and type `erb` I have 2 options on the list:
- html.erb
- erb

In this `html.erb` nothing works (emmet and any other autocomplete)
(I don't know if the emmet operation is a responsibility of this extension)

And in this `erb` just the class completio

[2019-10-07 14:56] gencer commented on #45
Hmm.. Strange. Let me evaluate on a fresh installation.

[2019-10-07 14:57] gencer commented on #44
Closing as for both due to inactivity and favor of released tag.

[2019-10-07 14:57] #44 closed

[2019-10-07 14:59] gencer commented on #43
Sorry for late reply. I've excluded `node_modules/` from being tracked. I ended up doing it that way. The fix will be available soon in `master` branch and i will provide you a test extension installer (`.vsix`).

[2019-10-07 16:19] ricardoruwer commented on #45
It'll be nice to add support for Elixir (`.html.eex`) files as well 😄

[2019-10-08 08:56] Kcko commented on #43
Good news, I'm excited to try it!

[2019-10-10 08:50] alvaromartmart opened #46 "Support for generated classes in SCSS"
Would it be possible to support auto-completion of classes generated by SCSS as in this example?
[code]
This will generate classes `text-main`  and `text-secondary`, which the extension would need to cache and auto-complete.

Is this possible?

[2019-10-10 17:28] gencer commented on #46
Unfortunately, this is beyond of this extension. We only parse static variables. This is dynamic generated on compile time. Therefore, this need to be first compiled to css then cached to VSCode. This will add a huge overhead to the compilation time.

I'm thinking If I could make it via SCSS Parsers but this is not possible anytime soon.

[2019-10-11 12:59] Kcko commented on #43
New release with this fix? When?

[2019-10-14 08:29] gencer commented on #43
I've no access to main PC at the moment. When I'm back, I will check and push.

[2019-10-14 09:06] gencer commented on #45
`.eex` extension added.

[2019-10-14 10:23] gencer commented on #43
Actually, I have the vsix file. Can you try this and let me know the speed.

On my tests, node_modules/ has no effect on performance. So, excluding it doesn't do anything at all. Instead, I disabled Find Usages feature by default.

Try this version and let me know the speed.

[html-slim-scss-css-class-completion-1.5.21.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/372399

[2019-10-23 21:02] gencer commented on #43
This is released on marketplace.

[2019-10-23 21:03] gencer commented on #45
`.eex` support has been released on marketplace. You may need an another extension to trigger language specific things.

[2019-10-24 06:29] Highter87 opened #47 "css class autocomplete"
Hello!
Don't work css class autocomplete for *.svelte files.

![image](https://user-images.githubusercontent.com/17083227/67459300-e6153480-f640-11e9-9ac3-e1262db64b28.png)

[2019-10-24 06:36] gencer commented on #47
`svelte`? Never heard of it. Interesting.

You can see supported types on **README.md**. We need to explicitly add this support.

[2019-10-24 06:41] Highter87 commented on #47
It is new javascript framework ) You can see: https://svelte.dev/
in short - this is an analogue of Vue.js cli

[2019-10-24 06:42] gencer commented on #47
Hmm.. Looks interesting.

Well, lets add it!

I will try on my end and then prepare a VSIX file for you to test on your end. After validation, I will publish on marketplace.

[2019-10-24 06:42] Highter87 commented on #47
ok

[2019-10-25 07:33] Kcko commented on #43
Hi Gencer, it helps probably, more faster than before.
But small fixes & improvements is needed:  (http://bit.ly/2PsLWAH)  you will see that it looks for some variables and conditions (at the end of the video).

[2019-10-25 12:40] Highter87 commented on #47
Hi, how are you?

[2019-11-07 10:52] Highter87 commented on #47
Hello gencer!
14 days have already passed since the discussion. I am still waiting for this task to complete.

[2019-11-07 16:38] gencer commented on #47
Hi. I had health issues for a while. Were only able to respond few simple repos/issues or PRs and i only use PC for a while in a day.

I will look into this on this weekend. Please be hold.

Thank you for your patient.

[2019-11-08 10:59] Highter87 commented on #47
Ok. Get well

[2019-11-11 17:13] gencer commented on #47
Please test this version and report back.

[html-slim-scss-css-class-completion-1.5.22.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/3832452/html-slim-scss-css-class-completion-1.5.22.zip)

[2019-11-12 06:40] Highter87 commented on #47
Fine! thank you friend
Everything works great. I will test before the end of this week, if I unsubscribe to this ticket

[2019-11-12 09:03] Highter87 commented on #47
Found a mistake
The value is defined as the name of the class.

![image](https://user-images.githubusercontent.com/17083227/68657204-4f071280-0544-11ea-8a31-0b65841d2f91.png)

[2019-11-12 12:44] gencer commented on #47
Gotcha!

Thank you for this. I will fix it as soon as possible. Root case of this issue is from REGEX pattern. I will minimize findings.

[2019-11-12 15:27] gencer commented on #47
Here you go. Please install (same version) again and test. I'll wait for your response.

[html-slim-scss-css-class-completion-1.5.22.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/3836834/html-slim-scss-css-class-completion-1.5.22.zip)

[2019-11-12 15:41] #47 closed

[2019-11-12 15:50] gencer commented on #46
Hi! This issue re-opened by me. Reason is i want to add an extra option to users to allow them compile SCSS to CSS before parsing. This will allow custom functions being seen by extension.

1. You save the SCSS File
2. VSCode triggers save and this extension rebuild all SCSS into CSS **if its enabled**
3. Re-cache done automatically.

[2019-11-12 16:33] gencer commented on #43
Hi @Kcko. I just pushed a new release to the Marketplace. Can you update & test if those variables gone? Also do you have docs in your workspace that generates documentation from PHP?

[2019-11-12 16:55] Highter87 opened #48 "not all class names in Svelte"
Hello Gencer!
I tested autocomplate and found an error: not all class names are displayed

![image](https://user-images.githubusercontent.com/17083227/68691909-9a8de080-0585-11ea-9716-a4be16b5cea8.png)

My css file, for test
[css.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/3837254/css.zip)

[2019-11-12 19:50] gencer commented on #48
Hi @Highter87!

Please test this version:

[html-slim-scss-css-class-completion-1.5.23.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/3837933/html-slim-scss-css-class-completion-1.5.23.zip)

[2019-11-13 06:34] Highter87 commented on #48
Already better, but non-existing classes are created

![image](https://user-images.githubusercontent.com/17083227/68738936-a9fa4180-05f8-11ea-94a6-01d933d21b54.png)

[2019-11-14 04:41] gencer commented on #48
Got it. Will fix it soon.

[2019-11-15 08:33] alvaromartmart commented on #46
Great, thanks!

[2019-12-23 15:04] viccher commented on #12
Hello!
Thanks for this extension, it is very useful!

I have the same problem.
OS version: Windows 10,
VS Code version: 1.41.1 (system setup);
Extension version: 1.5.23.

[2019-12-23 17:14] gencer commented on #12
I will look into this next weekend. To be honest, I never worked on `emmet` support. As it came from original project. This is fork of it. I will see whats behind the problem and compare with `master` there

[2019-12-24 11:38] viccher commented on #12
Thanks for the quick response!
I use Emmet like this:
- after typing '.' I select the desired class from the suggested list,
- then I delete the last letter (or character),
- then I type this letter (or character) manually.
The result is an Emmet suggestion for creating a <div> with the selected class. For me it’s faster than without Emmet.

[2020-01-26 12:02] #42 closed

[2020-03-16 17:26] VladimirMikulic opened #49 "FEATURE: Automatically detect remote style sheets"
As the title suggests, I would like that this extension can suggest classes in a file that is referencing a remote style sheet without requiring me to add it to the `html-css-class-completion.remoteStyleSheets` property.

Would that be possible? Thanks.

[2020-03-17 07:03] gencer commented on #49
Hi @VladimirMikulic , It is actually possible but let me think about it.

BTW, should we only allow `HTML` files or All files like `.{hml,htm,php,slim,latte,vue}...` This can be a little tricky.

[2020-03-17 11:06] VladimirMikulic commented on #49
Hi @gencer. Thank you very much for a fast reply.
It's annoying that every time I switch project, I need to add different version of Bootstrap/Tailwind.. to the `completion.remoteStyleSheets` property.

Instead of an array, you could maybe have parseRemoveStyleSheets as boolean.

For the initial implementation, only `HTML` files are just fine.
Maybe you could set a configuration option for this as

[2020-03-17 13:32] gencer commented on #49
Sounds good to me. Both `boolean` value and `trace` fields for extensions. I will look into this tomorrow.

[2020-03-17 14:24] VladimirMikulic commented on #49
Awesome! Thank you very much.

[2020-03-19 20:33] gencer commented on #49
This can be implemented. I believe i can oarse html with regex and inlcude in the project however this is going to be harder on other template providers. I have two optitons here.

A) only support html for now and provide option for this
B) create unified parser for each template providers and parse all.

Im evaluating these options now.

[2020-03-19 20:57] VladimirMikulic commented on #49
@gencer that's some good news. Let me know what you've decided to do. In my opinion, the unified parser would be really cool to have (as a config option maybe).

[2020-04-08 14:58] gencer commented on #49
@VladimirMikulic Can you test this version, please?

Before installing this one, please remove all `remoteStylesheet` directives from config files.

Currently this will try to load from HTML only. There is a new configuration parameter called `searchRemoteGlobPattern`:

[code]

But its currently only supported on `HTML`. More languages will be added in future.

Awaiting your feedback.

# v1.6.0

[

[2020-04-08 15:37] VladimirMikulic commented on #49
@gencer this is AWESOME! I've just tried it out and guess what? I'll never have to memorize framework classes again :)

There is one bug/feature that I've encountered. Let's say I include Bulma in my document and I cache the classes, it works, no problem. Then, I realize that the project requires Bootstrap and I replace the Bulma CDN href with Bootstrap's and cache the classes again. This time it

[2020-04-08 16:13] gencer commented on #49
@VladimirMikulic Glad it did worked! Well, i will also make sure cache gets invalidated after such changes.

I will not publish this version yet due to cache invalidation. You can freely use this version. I will update here when i got more info about this bug.

[2020-04-14 13:10] SharakPL opened #50 "Smarty support"
Please add support for Smarty files.

Required extension e.g. [Smarty Template Support](https://marketplace.visualstudio.com/items?itemName=aswinkumar863.smarty-template-support),
Language name: `"smarty"`
File extension: `.tpl`

[2020-04-14 13:23] gencer commented on #50
Ah, Smarty! My old friend. Was using in old days with PHP.

I will add this to supported frameworks as soon as possible.

[2020-04-14 19:20] SharakPL commented on #50
I know 😅 Unfortunately I'm forced to work with smarty. I've already made this extension work in .tpl by editing extension.js and adding ".tpl" and "smarty" to the lists with other languages, but it throws some errors in the console.

[2020-04-15 10:41] gencer commented on #50
Why did you removed your comment. I was going to reply that :)

Anyway, Here you go please try and report back.

We will go through this.

[html-slim-scss-css-class-completion-1.6.1.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/4480692/html-slim-scss-css-class-completion-1.6.1.zip)

[2020-04-16 09:13] SharakPL commented on #50
Thanks :)
Unfortunately I can't test smarty support. There's a bug right at the start. Extension can't scan the workspace. There seems to be a problem with handling urls in the code. Didn't happen with previous version.
![obraz](https://user-images.githubusercontent.com/5007456/79435117-8f752b80-7fcf-11ea-8081-20c9303729fc.png)

Maybe it requires `http(s):`. Should it scan online resources by defa

[2020-04-16 09:39] gencer commented on #50
Well, This is because of a new feature from #49. In the past remote urls have to be given by config file, after #49, HTML is being parsed and remotes automatically downloaded.

Let's add guard check for those URLs. Give it a try:

[html-slim-scss-css-class-completion-1.6.1.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/4486182/html-slim-scss-css-class-completion-1.6.1.zip

[2020-04-16 10:12] SharakPL commented on #50
I don't think it's a good idea. Most of the time it will create a lot of useless traffic and waste resources to scan online files that aren't even needed. Any online resource should be scaned **only** if explicitly requested by the config. This one should be default:

`"html-css-class-completion.searchRemoteGlobPattern": "",`

[2020-04-16 10:26] SharakPL commented on #50
It seems to work fine now :)

[2020-04-16 12:18] gencer commented on #50
@SharakPL , You're right!

I made `searchRemoteGlobPattern` empty by default as you suggested. I will push to `master`. Do you want a pre-build for this change?

[2020-04-16 14:33] SharakPL commented on #50
Thank you very much :)

[2020-04-16 18:29] gencer commented on #49
@VladimirMikulic Can you test this version to see re-cache works without using old remote stylesheet like you mentioned earlier.

[html-slim-scss-css-class-completion-1.6.1.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/4489107/html-slim-scss-css-class-completion-1.6.1.zip)

[2020-04-16 18:30] gencer commented on #49
Please also note that, You have to explicitly set this within your settings for this version:

[code]

[2020-04-16 18:32] gencer commented on #50
I go ahead and close this issue due to resolved. Let me know if something doesn't work.

[2020-04-16 18:32] #50 closed

[2020-04-16 18:55] VladimirMikulic commented on #49
Hi @gencer! Thank you for coming back to me.
This version actually breaks the extension. It doesn't suggest CSS classes at all, just plain HTML tags and attributes :(

![test](https://user-images.githubusercontent.com/35997844/79495177-7d71a800-8024-11ea-9389-d6e97116d319.png)

[2020-04-16 18:58] VladimirMikulic commented on #49
Hi @gencer. Thank you for coming back to me.
Unfortunately, this version completely breaks the CSS classes autocompletion.
Now, it suggests HTML tags and attributes as "classes".

![test](https://user-images.githubusercontent.com/35997844/79495516-ff61d100-8024-11ea-84ad-28e368f12c17.png)

[2020-04-16 19:04] gencer commented on #49
Hmm. Weird. Lets try empty the folder then.

Try this one:

[html-slim-scss-css-class-completion-1.6.1.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/4489275/html-slim-scss-css-class-completion-1.6.1.zip)

[2020-04-16 19:40] VladimirMikulic commented on #49
This one is no go as well. For example, let's say I cache Bulma classes and it does work fine, but if I delete Bulma and replace it with Bootstrap it won't fetch new classes. It still suggests Bulma classes.

[2020-04-16 20:10] gencer commented on #49
But previously, boostrap and bulma both was suggested right? This time only old one.

It's getting weirder. I will install a virtual machine and try there with few templates.

Thank you so much for taking time to test them for me.

Stay safe!

[2020-04-16 20:13] VladimirMikulic commented on #49
That's correct. Previously, they were both suggested.
I'll help you as much as I can, just `@mention-me` :)

[2020-04-16 20:14] gencer commented on #49
Thanks @VladimirMikulic! I will try to debug this one to make sure it get refreshed when re-cached. In fact im planning to add this to incremental building. This means when you hit CTRL+S or just save, it will do the update for you.

I will update here when i got something.

[2020-04-16 20:17] VladimirMikulic commented on #49
CTRL+S would be really amazing workflow. Thank you very much on the effort the you've put into this extension!

[2020-04-21 14:40] clementoriol commented on #45
Thanks for the eex support ! However, the language name seems incorrect, so it doesn't work.

The 2 major language extensions for Elixir uses different language names :
- ([vscode-elixir](https://marketplace.visualstudio.com/items?itemName=mjmcloug.vscode-elixir) uses `HTML (Eex)`
- ([elixirLS](https://marketplace.visualstudio.com/items?itemName=JakeBecker.elixir-ls) uses `HTML (EEx)`

Could you p

[2020-04-21 14:48] gencer commented on #45
I didn't know that one exists. Yes, As soon as i back to home, i will add this support.

P.S.: You will need those extension as well to work with this extension. They are dependent.

[2020-04-21 14:52] clementoriol commented on #45
Amazing, thank you for responding so quickly ! 👍 💯

[2020-04-21 14:57] gencer commented on #45
BTW, a quick question while im on remote:

It is `HTML E(E|e)x`, right? Not `EEx` and `Eex`. It has `HTML ` at start.

[2020-04-21 15:05] clementoriol commented on #45
Yes !

Here are the exact names for both cases :
 `HTML (Eex)`
`HTML (EEx)`
They both contains `HTML ` and parenthesis.

[2020-04-21 15:16] gencer commented on #45
Okay. I will prepare a custom build as soon as possible.

Please also note that, This will also includes #49 and #50. #49 is about fetching remote stylesheet from meta links in HTML compatible files instead of permanent setting in vscode.

[2020-04-21 18:38] gencer commented on #45
# v1.7.0

@clementoriol, Please can you try this version:

[html-slim-scss-css-class-completion-1.7.0.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/4511998/html-slim-scss-css-class-completion-1.7.0.zip)

[2020-04-22 21:03] clementoriol commented on #45
@gencer Ok, so I had time to test this !
Tested both with `vscode-elixir` and `ElixirLs` extensions.

- ✅ works great with `vscode-elixir` (lang set to `HTML (Eex)`)
- ❌ doesn't work with `ElixirLS` (lang set to `HTML (EEx)`)

Did you had the chance to add both languages ? I know the case difference is a bit annoying, but sadly the libraries haven't done anything yet to harmonize it, afaik

[2020-04-22 21:06] gencer commented on #45
Interesting. See, I already added EEx and Eex (lowercase and uppercase). I will try to find out why it didn't worked.

[2020-04-22 21:21] clementoriol commented on #45
Nevermind, it actually works, I guess it just took some time to index the scss :)
So, looks good to me, thank you 🎉🎉🎉

[2020-04-22 21:32] gencer commented on #45
Ahh :=) No worries! If your project is big, it might take some time to warm up on first time. Later, it will incrementally build and re-cache.

Changes are on `master`. I will publish on marketplace v1.7.0 soon.

[2020-04-24 17:27] gencer commented on #45
@clementoriol I found the issue. Fixed in master will be published in few minutes on marketplace. Please test v1.7.1 for EEx (uppercase E)

[2020-04-24 17:27] #45 closed

[2020-04-25 20:22] garyking opened #51 "Stopped working in 1.7.1"
I downgraded back to 1.5.23 since this extension stopped working in 1.7.1, released yesterday.

With the new version, the lightning icon doesn't appear in the status bar; when opening a workspace, the "cached stylesheets" message DOES briefly appear, though.

I also disabled all other extensions to test.

My settings:

[code]

[2020-04-25 20:28] gencer commented on #51
Do you have any logs in Developer Tools (Console)?

It will help me to debug as fast as possible.

[2020-04-25 21:13] garyking commented on #51
I updated the original post for more accurate information

I've attached screenshots from `Toggle Developer Tools`.

Latest version (the one that isn't working):

![Latest version](https://user-images.githubusercontent.com/343940/80291032-00c38580-8718-11ea-9b0b-95bd55f4b007.png)

Latest working version:

![Latest working version](https://user-images.githubusercontent.com/343940/80291034-04efa300-

[2020-04-25 21:48] gencer commented on #51
@garyking Just trying something from my end. Does this solve your problem?

# v1.7.2

[html-slim-scss-css-class-completion-1.7.2.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/4534112/html-slim-scss-css-class-completion-1.7.2.zip)

[2020-04-26 10:06] akmeghdad commented on #51
Hello,

Yes sir, v1.7.2 (html-slim-scss-css-class-completion-1.7.2.zip) solved my problem.

Thank you

[2020-04-26 12:10] krupenja commented on #51
I think I was also getting this with 1.7.1. In my case, the extension was repeatedly crashing ExtensionHost and none of the other extensions were useable - disabling SCSS Everywhere
resolved this. With 1.7.2 and SCSS Everywhere enabled, I do not see this problem anymore 👍

[2020-04-26 13:42] gencer commented on #51
@akmeghdad @krupenja @garyking

Sorry foe the trouble. Glad it did worked. I just published **v1.7.2** on marketplace. Also changes are in `master`

Thank you for confirming guys! I really appreciated it.

One more time, sorry for the trouble I made with last release.

[2020-04-26 14:45] gencer commented on #51
Closing this issue. Please let me know if something is not right again.

[2020-04-26 16:07] garyking commented on #51
I'm sorry, but it's still not working for me. I currently have this extension **SCSS Everywhere** 1.7.2 installed, the latest. All other extensions disabled. I open a workspace with remote stylesheets, with the settings mentioned [here](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/issues/51#issue-606848201).

On workspace startup, I see the "Looking for CSS stylesheets" message br

[2020-04-26 16:21] gencer commented on #51
@garyking Do you use `searchRemoteGlobPattern` or just remote stylesheet as mentioned by you earlier?

[2020-04-26 16:28] gencer commented on #51
Can you try **v1.7.3**?

[html-slim-scss-css-class-completion-1.7.3.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/4535908/html-slim-scss-css-class-completion-1.7.3.zip)

[2020-04-26 16:38] gencer commented on #51
# v1.7.4
Intensive debug information added:

Please try this version. This will enable debug logging which tagged as `SCSS-EVERYWHERE-DEBUG`. It will help me to understand where it get stuck.

[html-slim-scss-css-class-completion-1.7.4.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/4535943/html-slim-scss-css-class-completion-1.7.4.zip)

[2020-04-26 16:41] gencer commented on #51
# v1.7.4-2
Intensive debug information added.

Please try this version. This will enable debug logging which tagged as `SCSS-EVERYWHERE-DEBUG`. It will help me to understand where it get stuck.

[html-slim-scss-css-class-completion-1.7.4.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/4535964/html-slim-scss-css-class-completion-1.7.4.zip)

[2020-04-27 19:08] garyking commented on #51
I don't use the `searchRemoteGlobPattern` setting. It only exists in the 1.7 version, but I'm using the 1.5 version.

---

I installed the `v1.7.4-2` version. The problem is fixed in that version. I've also attached the logs, anyway.

![Screen Shot 2020-04-27 at 3 04 30 pm](https://user-images.githubusercontent.com/343940/80410671-f977b580-8898-11ea-9c53-c2fc7c84e208.png)

[2020-04-27 19:17] gencer commented on #51
Glad it did worked. This is really a weird situation.

Hopefully will not break again.

Will publish on marketplace now.

Thanks! Let me know if help needed again.

Can I close issue now? If everything is ok?

[2020-04-28 03:11] garyking commented on #51
Yeah problem is fixed in 1.7.4, which I currently have installed.

Is it necessary to leave the debug messages in the extension?

[2020-04-28 03:11] #51 closed

[2020-04-28 03:26] gencer commented on #51
Not necessarily. I will remove those debug messages in next version ;)

I just want to make sure nobody has the same issue again. So, will be removed in next.

[2020-05-03 11:51] ndbroadbent opened #52 "Add some basic support for HAML"
Hello! Would it be possible to add some basic support for HAML? I think this should be very similar to Slim, and it would be super helpful. Thanks!

[2020-05-03 12:11] gencer commented on #52
Hey @ndbroadbent!

In haml, do we use also hashtag `#` for ID's and dots `.` for classes?

[2020-05-03 12:16] ndbroadbent commented on #52
Hi @gencer, yes that's the same!

[2020-05-03 12:17] gencer commented on #52
Yws, we do! Checked on haml website.

Changes are on `master`

[2020-05-03 12:21] gencer commented on #52
# v1.7.5

Can you test this version and let me know?

[html-slim-scss-css-class-completion-1.7.5.zip](https://github.com/gencer/HTML-Slim-CSS-SCSS-Class-Completion/files/4570255/html-slim-scss-css-class-completion-1.7.5.zip)

[2020-05-03 13:12] ndbroadbent commented on #52
Hi @gencer, I tested v1.7.5 and it works great! Thanks very much for working on that so fast!

[2020-05-03 13:12] #52 closed

[2020-06-16 12:18] orblazer opened #54 "Publish extensions to open-vsx"
I'm a [VS Codium](https://github.com/VSCodium/vscodium) user, a FLOSS version of VS Code, it's the same code but without the Microsoft's telemetry and branding.
I want to request if possible to add the _SCSS Everywhere_ extension on the [open-vsx.org](https://open-vsx.org/) market to us doesn't need to works with the Microsoft marketplace as is unclear if it's legal to use it on VS Code forks, see

[2020-06-16 17:54] gencer commented on #54
Hey @orblazer. I've just published it. Thanks for bringing this to my attention.

I will make sure its always in sync between both marketplaces.

[2020-06-17 06:29] #54 closed

[2020-07-04 09:38] dummdidumm opened #55 "Update link to Svelte extension"
In your main README, you refer to the old `Svelte` extension (https://marketplace.visualstudio.com/items?itemName=JamesBirtles.svelte-vscode). Please update the link to the new, official extension: https://marketplace.visualstudio.com/items?itemName=svelte.svelte-vscode .

[2020-07-05 07:46] #55 closed

[2020-07-05 07:47] gencer commented on #55
Thanks @dummdidumm to notify me for this update. I just changed it on README.

[2020-07-05 08:47] dummdidumm commented on #55
Thanks 🥳

[2020-07-16 19:25] mark-night opened #56 "How to get class names suggestion in css for class names defined in React Component?"
Document says
`"className" and "class" in TypeScript React, JavaScript and JavaScript React language modes`
does this mean class names defined in React Component will be included in autocomplete suggestions?
I have these in my vscode user settings:
`"html-css-class-completion.includeGlobPattern": "**/*.{css,scss,sass,eex,slim,haml,svelte,tpl,latte,php,html,twig,js}"`
(appended "js" to the default

[2020-07-16 19:33] gencer commented on #56
Hi @mark-night

Sorry for the misleading documentation. At the moment, there is no way to include defined classnames from TypeScript/React (TSX/JSX) in autocomplete **but** this can be done of course.

How do you define classnames, can you gave me an example?

I may create a custom parser for tsx/jsx files so that it can be included in intellisense (and without clicking cache button. Just save it

[2020-07-16 20:46] mark-night commented on #56
Hi @gencer  thank you for making this clear.
As for defining classnames in React Component, I just include `className="some-class some-other-class"` in the html tags returned by the component, nothing special. It's common to reference javascript variable in the definition as well, in which case it might look like this `className={${someVariable + " some-class"}}`.

[2020-07-16 20:54] gencer commented on #56
`className="some-class some-other-class"` would be extremely easy to parse. However, I doubt for notations and merges like variable and string. For example;

[code]

In this case, I may able to show you "some-class" but will not be possible to show someVariable. Because it is dynamic. Also let's say you have something like this:

[code]

I'm not so sure in this case too.

But as for first example,

[2020-07-22 09:31] ronilaukkarinen opened #57 "TypeError: Cannot read property 'forEach' of undefined"
I'm getting save action delays and noticed this in logs:

[code]

[2020-07-22 23:30] mark-night commented on #56
It makes sense to only parse explicitly coded class names. I guess I understand it.
Thank you gencer!

[2020-07-30 15:34] dsod opened #58 "Support for including specific node_modules/*.scss files"
Hi, and thank you for a great extension!

I would like to be able to install bootstrap or other CSS frameworks through NPM, and add the framework into my project through SCSS @import's. Since (from what i understand) all files in node_modules folder are exceluded (hard coded?), the includeGlobPattern setting accepts a single string and @import statements are not supported, this is not possible.

I

[2020-07-30 15:55] dsod commented on #12
Hi,
Saw that they have fixed this in the original project.
See more information here:
https://github.com/zignd/HTML-CSS-Class-Completion/pull/129
https://github.com/zignd/HTML-CSS-Class-Completion/pull/129/commits/be670b60f94bcaa0e62af7aeda6fded15e0e07f0

[2020-07-31 05:22] gencer commented on #12
@dsod Thanks for bringing this to my attention. I will create a fix soon based on that PR.

[2020-07-31 05:23] gencer commented on #58
Hi @dsod. This could be done. However, I have to look for SCSS side to how should I parse this `@import` statement`first. Otherwise, we will go with your second option.

[2020-09-07 05:02] gencer commented on #12
I've published a new version. Please check and reopen if needed.

[2020-09-07 05:02] #12 closed

[2020-09-07 05:03] gencer commented on #56
First phase of implementation is in new version.

[2020-09-09 00:15] mark-night commented on #56
Does the vs code extension auto update? I can see in my vs code the installed version is 1.7.6, and plain classes defined in JSX via "className" are showing up when editing scss files. Great job! Thank you.

[2020-09-09 08:57] gencer commented on #56
Yes, If you didn't disable that auto update feature, It will do.

v1.7.6 has simple auto complete from JSX/TSX to SCSS/CSS. I will improve it more. Let me know if you see something weird in this feature.

[2020-09-11 04:20] mark-night commented on #56
Sure thing! Thank you gencer!

[2020-09-28 13:40] FDiskas opened #59 "liquid support needed"

[2020-09-28 18:31] gencer commented on #59
Liquid? Can you be more specific? I never heard of liquid.

[2020-10-05 07:24] FDiskas commented on #59
There is a repo https://github.com/Shopify/liquid

[2020-10-05 12:16] gencer commented on #59
It has a HTML-based syntax like Twig. Will be easy to add this support.

[2020-10-05 12:25] gencer commented on #59
What do you use for Liquid Template Syntax on VSCode? Can you give me a VSCode Marketplace link?

[2020-10-05 12:55] FDiskas commented on #59
I'm using
[code]

[2020-10-05 13:03] FDiskas commented on #59
So far so good. Just missing "gotodefinition" functionality

[2020-10-05 13:09] FDiskas commented on #59
And actualy "neilding.language-liquid" extention works better with yours instead "sissel.shopify-liquid" as you pointed in readme

[2020-10-05 13:11] gencer commented on #59
If my extension works with `neilding.language-liquid` better than I will change the README.

[2020-10-05 13:14] gencer commented on #59
Go To Definition is **not** available on any languages in this extension. I am thinking to add this functionality but not yet decided how should I go.

[2020-10-05 14:23] gencer commented on #59
**Released** on Open VSX and VSCode Marketplace as `v1.7.7`

[2020-10-05 14:23] #59 closed

[2020-11-29 09:24] ram-you opened #60 "Support :class="..." in vue template"
Hi, worked perfectly inside class="..." in vue template but not inside **:class**="..."
Thank you.

[2020-11-30 10:57] gencer commented on #60
Hey @ram-you.

I just and a look at Vue's `:class` and it seems it is not a simple string but conditional syntax's used there. Like:

[code]

I am not sure how should we complete here because all we do in here is `regex`. If I add escape characters will this be enough? For example:

# v1.7.8
[html-slim-scss-css-class-completion-1.7.8.zip](https://github.com/gencer/SCSS-Everywhere/files/5615518/htm

[2020-11-30 11:30] ram-you commented on #60
@gencer  Thank you very much. **v1.7.8** works perfectly.

[2020-11-30 11:32] gencer commented on #60
I'm glad to hear that. I will revisit this issue at a later time for a better `regex` pattern match. Because, currently its a bit hacky.

[2020-11-30 11:32] #60 closed

[2020-12-08 11:30] kanlukasz opened #61 "[Future request] Go to Definition"
Hello

I'm not sure if this is out of scope of this plugin, but maybe not.
Could you please consider adding a function like `Go To Definition` for CSS / SCSS.
Is it possible?

By the way, your plug is very good. Thank you!

[2020-12-08 11:32] kanlukasz commented on #58
Yes, that would be a very useful feature. I am using the Bootstrap framework and was also looking for a way to read classes from specific node_modules files

[2020-12-10 18:30] gencer commented on #61
Hi @kanlukasz this is a bit out of scope of this extension. But I will leave this open maybe someday we can revisit here too.

At the moment I do not see enough reason to proceed for such action because this will lead me to write a Language Server which I just don't want to get in by myself at the moment. Without language server, it is still can be achieved somehow, but, this will increase both st

[2020-12-10 18:32] gencer commented on #58
You can remotely load `css` files for bootstrap. This will give you the same autocompleted css values as scss gives.

Importing scss from another scss is still under review.

[2020-12-15 16:29] oxk4r01 opened #62 "Not getting suggestions"
I'm not getting suggestions in any direction (nor html, nor css, nor handlebars...). Maybe i'm missing something...
regards.
![image](https://user-images.githubusercontent.com/1032224/102243137-1ed63400-3efb-11eb-817c-74a9469f75ea.png)

[2020-12-16 00:22] gencer commented on #62
Interesting. I just created a folder and 2 files. It seems i can make it work with latest version:

![image](https://user-images.githubusercontent.com/1711576/102288529-bb292680-3f4d-11eb-9a62-342a9c7f8b6e.png)
![image](https://user-images.githubusercontent.com/1711576/102288542-c1b79e00-3f4d-11eb-9a6c-3aef2537611e.png)

These extensions installed on my `vscode`:

![image](https://user-images.gith

[2020-12-16 00:23] gencer commented on #62
P.S.: Did you tweaked any settings for this plugin?

[2020-12-16 00:25] gencer commented on #62
Ah, I noticed that, you wrote:

[code]

**not**

[code]

Classes in CSS starts with `.` dot.

[2020-12-16 11:30] oxk4r01 commented on #62
Prepending point or not I get same behavior. Same for ids:
![image](https://user-images.githubusercontent.com/1032224/102342867-27317c00-3f9a-11eb-8d83-496cfec5cfc1.png)
![image](https://user-images.githubusercontent.com/1032224/102342893-3284a780-3f9a-11eb-859c-bc8d6a3318d8.png)
Settings are untouched...
![image](https://user-images.githubusercontent.com/1032224/102343139-75df1600-3f9a-11eb-99ed-

[2020-12-16 11:36] gencer commented on #62
Can you also show me when you search for `html-css-class-completion` in settings instead of `@ext: gencer...`?

Do you use Remote SSH/WSL?

[2020-12-16 12:05] oxk4r01 commented on #62
I tried without workspace but same behavior.

-> Do you use Remote SSH/WSL?
    No.

-> Can you also show me when you search for html-css-class-completion in settings instead of @ext: gencer...?
    Yes, but I get 49 settings. Doesn't fit in a single screenshot...

![image](https://user-images.githubusercontent.com/1032224/102346039-901af300-3f9e-11eb-94e6-0ccb79e21fc9.png)
![image](https://user-i

[2020-12-16 12:10] gencer commented on #62
Hm.. Looks like my extension is either:

a. Not enabled. So, Disabled.
b. Not installed (maybe?)
c. Something interfere my extension so that it doesn't get load into your VSCode.

Because, This is what you should see when you search that setting:

![image](https://user-images.githubusercontent.com/1711576/102346964-c3ff1400-3fb0-11eb-868e-8a662252ad59.png)

[2020-12-16 12:22] oxk4r01 commented on #62
Extension was disabled. I don't know why, but sorry because I overlooked the most simple cause :( Thanks a lot for the support and regards!!!

[2020-12-16 12:22] #62 closed

[2020-12-16 12:26] gencer commented on #62
No worries @oxk4r01. Glad you dif found the issue 🎉. Happy to help.

[2020-12-21 22:04] mdmoreau opened #63 "Exclude classes"
While using this plugin with Twig I'm noticing that tags are added as suggestions if used within a class attribute. Is it possible to exclude things like ```{{``` ```}}``` ```{%``` ```%}``` from the suggestions?

Example:
[code]

Suggests:
```{{``` and ```}}```

Might even be useful to filter based on the allowed characters for the class attribute (https://stackoverflow.com/a/449000). Thanks for t

[2020-12-22 16:37] IcedNet opened #64 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.7.8`
- OS Version: `Darwin x64 19.6.0`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-12-23 20:51] gencer commented on #63
I'll test this issue and provide solution as soon as possible.

[2021-01-05 09:51] spoenemann opened #65 "Open VSX Listing: Signing the Publisher Agreement"
Thank you for being part of the Open VSX community by adding your extensions to the Open VSX Registry. Please note that the service was recently transferred to the Eclipse Foundation and urgent action on your part is needed so we can continue to list your extensions. To ensure uninterrupted service, please sign the [Eclipse Publisher Agreement](https://www.eclipse.org/legal/documents/eclipse-openv

[2021-01-17 09:03] gencer commented on #65
Agreement signed by me. Closing this now.

Thanks for letting me know.

[2021-01-17 09:03] #65 closed

[2021-02-24 14:28] COD3BREAK3R commented on #62
Actually dont work for me when i add a new class

[2021-02-24 14:47] COD3BREAK3R opened #66 "Doesn't automatically update class list"
I have to be pressing the button to make the cache in HTML for show the list of new classes in my css file, before this was not necessary.

[2021-02-25 17:04] gencer commented on #66
If I get it right, Before 1.7.2 it works but after 1.7.2, auto-update (Incremental build) is not working.

I'll have to test this on an empty workspace to reproduce.

[2021-03-12 07:25] onetrev commented on #61
Hey @kanlukasz ... I think you may find that [CSS Navigation](https://marketplace.visualstudio.com/items?itemName=pucelle.vscode-css-navigation&ssr=false) actually does what you are looking for. It would be great if this extension could do the same as I find if you have both going you get some duplication, but neither one does everything I need all in one.

[2021-03-27 03:37] Christian0510 opened #67 "La extensión causa una alta carga de cpu"
- Issue Type: `Performance`
- Extension Name: `html-slim-scss-css-class-completion`
- Extension Version: `1.7.8`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.54.3`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\CHRIST~1\AppData\Local\Temp\gencer.html-slim-scss-css-class-completion-unresponsive.cpuprofile.txt`

Find more details here: h

[2021-05-04 10:58] romgerman opened #68 "Settings option to choose what folder a project is in"
Hello. So I have a CMS which has tons of css files and my project is only in `themes` folder. Scanning css/scss files take around 1-2 minutes. Currently I am using glob pattern to exclude CMS system folders but it's very inconvenient.
Please add something like `src` or `rootDir` option to limit the scanning process.
Thanks!

[2021-05-04 13:22] gencer commented on #68
It seems, That would be easy to implement.

I'll consider this as soon as possible.

[2021-06-09 02:10] thiagomajesk opened #69 "Not working for elixir files"
Hi! Just installed this lib today and it seems it's not working for Elixir files. One reason it might be is due to the [language id which is now `html-eex`](https://github.com/elixir-lsp/vscode-elixir-ls/search?q=html-eex), these are the current language modes in vs code:

![image](https://user-images.githubusercontent.com/13930952/121280984-8cad5800-c8ad-11eb-9b27-5155c7daa598.png).

It seems tha

[2021-07-06 16:19] LeeBuckle commented on #56
@gencer thanks for this, it makes writing SCSS so much easier! Just need to figure out how to make it cache automatically so I don't have to click the lightening bolt now 😅

Is it possible to enable it for .js files too? In my react and next.js projects I don't usually use the .jsx extension. I tried adding 'js' to the glob pattern but that doesn't seem to work.

[2021-07-06 17:14] LeeBuckle opened #70 "Auto caching only works occurs when I save an SCSS file"
Version: 1.7.8

I thought the plugin wasn't automatically caching but I noticed it only seems to work one way. i.e. saving a css/scss file, those classes get cached.

• Create new class in SCSS file then save, the new class will be suggested in JS or JSX file.

• Create new class in JSX file then save, cache isn't automatic and clicking lightening bold required.

• Create new class in JS file (jav

[2021-07-06 17:50] LeeBuckle opened #71 "No #ID suggestions when using emmet."
`class` suggestions show up when using emmet, but `id` doesn't. ID's only get suggested when writing `id="exa` for example.

If there's `.example` in an SCSS file, writing `div.exa` in `html` or `jsx` will suggest the 'example' class.

I expected having `#example` in the SCSS file would work the same way, but writing `div#exa` in my JSX doesn't give any suggestions.

[2021-07-07 18:09] gencer commented on #70
Hey @LeeBuckle

Yes, Auto caching mechanism is only for Stylesheets not for other languages. We may do this in the future but there are still other open issues in my backlog. I am thinking to handle all of this issues including this one hopefully in 1-2 weeks. I was very busy with my own job and a bit lost on open-source projects.

Will work on this for sure but no promises about JS/X TS/X files b

[2021-07-07 18:10] gencer commented on #56
@LeeBuckle Thank you for your kind words. As I mentioned in other issue, I'll be working on in 1-2 weeks. You can read more on that issue.

[2021-07-07 18:12] gencer commented on #71
Hey @LeeBuckle

Oh! Emmets! I never ever get used to it. Neither with wokring nor by programming :) However, it is good to hear thet emmets are working as expected. This means it will be easy to implement for `#` id's.

I am giving priority this a bit more because I believe it will be much easier to implement if we compare with others.

[2021-07-14 19:22] LeeBuckle commented on #71
I mean, it's not the end of the world as ID's are used much less frequently but it would be a nice little enhancement :)

[2021-07-14 19:27] LeeBuckle commented on #70
No worries, just glad to know that you might be able to add the functionality.

If it happens to be expensive, maybe it could be added with a toggle in the options? That way it's up to the user and can easily be switched off if it causes them any trouble.

[2021-07-14 19:32] gencer commented on #70
That would be much better. 👍

[2021-07-29 15:13] geekox86 opened #72 "Support working with Vue using Volar?"
Greetings and thank you for this fantastic extension.
I am using Volar extension for Vue IntelliSense, and I love using your extension, but it require Vetur.

I there any chance that you support Volar, too?

Cheers!

[2022-01-11 05:26] craigcosmo opened #74 "it's not working with vscode Version: 1.63.2 Jan 2022"
it's not working at all with vscode Version: 1.63.2 Jan 2022

[code]

Extension version v1.7.8

My order vscode settings

[code]

[2022-01-13 12:34] gencer commented on #74
Actually I am unable to provide support for this and other pending issues at the moment due to very high demand on other projects. But I'll keep this issue open too. I'm not sure if this is from your config or actually from v1.63.x but I'll have a look on this. Tho, No promises...

P.S.: I am open to PRs.

[2022-01-19 19:33] Nagell opened #75 "pcss support for Tailwind"
This alone is a great feature:

- "@apply" directive in CSS, SASS and SCSS Files for Tailwind CSS

Would it be possible to add also .pcss to this watcher?

[2022-02-17 03:25] kien5436 opened #76 "Find usage in .vue files"
Hello, thanks for great work!
Can you support for autocompletion with `<style>` in .vue files? I can't make it work

https://user-images.githubusercontent.com/23404165/154398806-d9ca10e6-d181-4264-b9a9-349c74c6aad5.mp4

Here's my settings:
[code]

[2022-07-02 14:18] JulianCataldo opened #77 "Astro.js `*.astro` file support (html / jsx based language)"
Hello there!

Thanks for this extension, it's a delight to use with HTML file.
I would like to translate this developer experience to Astro js file edition:
https://astro.build

I tried this:

[code]

But it doesn't work.
I guess it's because SCSS Everywhere is tied to a file extension / language engine combo ?
For example you can set these two independently with ESLint, Prettier…

Adding language

[2022-07-06 10:28] KutnerUri opened #78 "`@use` rule"
the extension currently only supports old `@import` styles dependencies, and does not provide autocomplete for `@use`.
maybe needs to update sass engine to dart?

[2022-07-11 11:17] gencer commented on #77
What is the vscode extension you use for astro files?

[2022-07-16 20:28] JulianCataldo commented on #77
Yes Astro's got a dedicated VS Code extension, with Typescript awareness, default VS Code formatting support, language support etc. etc.
More or less similar to Volar for Vue.

[2022-10-16 17:14] LuckyChimp opened #79 "README.md not up to date"
Under **Usage** --> **User Settings** --> **Folders and Files** these lines
- "html-css-class-completion.includeGlobPattern" (default: "**/*.{css,scss,sass,html}")
- "html-css-class-completion.excludeGlobPattern" (default: "")
are not up to date in the README.md file and on the vscode marketplace. The default settings in the brackets has changed.

[2022-10-19 13:26] youradds opened #80 "Does this work any more?"
I'm trying to figure out why this won't work for me. I've added this to my HTML page:

`<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css">`

Pressed Ctrl + Shift + P

...and then "Cache CSS class definitions". No errors. Yet when I go to my document and try and type "pure-form" into a form, nothing happens. Is there another step I'm missing?